In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
# read data
data = pd.read_csv('data.csv', dtype=object)

data.head()

,Instrument,Total Debt,Accounts Payable (CF),NAICS Industry Group Name,Inventories (CF),Delisted Quote Flag,Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,...,Tangible Book Value Per Share,Net Sales,Operating Income,Instrument Is Active Flag,Tangible Book Value - Utility,"Total Assets, Reported",Depreciation And Amortization,Total Current Liabilities,Year,Bankrupt
0,910655,1866000.0,-235000.0,Motor Vehicle Body and Trailer Manufacturing,-9289000.0,1.0,49741000.0,-8580000.0,82689000.0,23250000.0,...,8.43993,360326000.0,40075000.0,0.0,87124000.0,117739000.0,413000.0,19209000.0,2000,1
1,1116521,10000000.0,-47000000.0,Communications Equipment Manufacturing,81000000.0,1.0,NaN,-184000000.0,3043000000.0,2422000000.0,...,5.59129,8268000000.0,369000000.0,0.0,1556000000.0,4239000000.0,NaN,1597000000.0,2000,1
2,895651,377000.0,NaN,Offices of Other Health Practitioners,289000.0,1.0,-18251000.0,-1483000.0,9479000.0,13186000.0,...,0.4067,54971000.0,-1056000.0,0.0,3622000.0,32145000.0,NaN,6303000.0,2000,1
3,1398702,NaN,NaN,Tobacco Manufacturing,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2000,1
4,1434621,NaN,NaN,Nondepository Credit Intermediation,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2000,1

## Healthy Companies Data

In [3]:
# extract the healthy dataframe
healthy_raw = data[data['Bankrupt'] == '0']

healthy_raw.head()

,Instrument,Total Debt,Accounts Payable (CF),NAICS Industry Group Name,Inventories (CF),Delisted Quote Flag,Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,...,Tangible Book Value Per Share,Net Sales,Operating Income,Instrument Is Active Flag,Tangible Book Value - Utility,"Total Assets, Reported",Depreciation And Amortization,Total Current Liabilities,Year,Bankrupt
24200,1750,181359000.0,24659000.0,Aerospace Product and Parts Manufacturing,-46212000.0,0.0,184529000.0,173109000.0,508186000.0,400595000.0,...,10.44308,1050608000.0,77381000.0,1.0,285942000.0,726630000.0,NaN,173586000.0,2000,0
24201,61478,49900000.0,45000000.0,Communications Equipment Manufacturing,-66700000.0,1.0,899200000.0,-484600000.0,1376600000.0,462500000.0,...,14.01205,2151800000.0,135000000.0,0.0,1358300000.0,2057800000.0,22200000.0,448500000.0,2000,0
24202,319126,6402000.0,-300000.0,"Navigational, Measuring, Electromedical, and C...",665000.0,0.0,-6361000.0,6153000.0,9758000.0,8778000.0,...,129.66559,29370000.0,-1682000.0,1.0,2404000.0,13986000.0,NaN,2804000.0,2000,0
24203,730469,483008000.0,NaN,Other Investment Pools and Funds,1255000.0,1.0,56649000.0,468594000.0,335484000.0,641657000.0,...,-1.79517,600282000.0,62651000.0,0.0,-48430000.0,908936000.0,NaN,170437000.0,2000,0
24204,6201,4402000000.0,NaN,Scheduled Air Transportation,-36000000.0,0.0,4733000000.0,2867000000.0,3969000000.0,14757000000.0,...,33.90123,17516000000.0,1988000000.0,1.0,5470000000.0,21455000000.0,1040000000.0,5302000000.0,2000,0

In [4]:
for col in healthy_raw.columns:
    print(col)

print()
print(len(healthy_raw.columns))

Instrument
Total Debt
Accounts Payable (CF)
NAICS Industry Group Name
Inventories (CF)
Delisted Quote Flag
Retained Earnings (Accumulated Deficit)
Net Debt Incl. Pref.Stock & Min.Interest
Total Current Assets
Total Liabilities
Company Common Name
CIK Number
Total Equity
Tangible Book Value - Banks
Tangible Book Value - Insurance
Net Income/Starting Line, Cumulative
Tangible Book Value - Reported
Cash and Short Term Investments
Market Value for Company
Tangible Book Value Per Share
Net Sales
Operating Income
Instrument Is Active Flag
Tangible Book Value - Utility
Total Assets, Reported
Depreciation And Amortization
Total Current Liabilities
Year
Bankrupt

29

In [5]:
# drop non-quantitative columns
healthy = healthy_raw.drop(columns=['NAICS Industry Group Name', 'Delisted Quote Flag', 'Company Common Name',
                                    'CIK Number', 'Instrument Is Active Flag', 'Bankrupt'])

healthy.head()

,Instrument,Total Debt,Accounts Payable (CF),Inventories (CF),Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,Total Equity,Tangible Book Value - Banks,...,Cash and Short Term Investments,Market Value for Company,Tangible Book Value Per Share,Net Sales,Operating Income,Tangible Book Value - Utility,"Total Assets, Reported",Depreciation And Amortization,Total Current Liabilities,Year
24200,1750,181359000.0,24659000.0,-46212000.0,184529000.0,173109000.0,508186000.0,400595000.0,326035000.0,285942000.0,...,8250000.0,481230000.0,10.44308,1050608000.0,77381000.0,285942000.0,726630000.0,NaN,173586000.0,2000
24201,61478,49900000.0,45000000.0,-66700000.0,899200000.0,-484600000.0,1376600000.0,462500000.0,1595300000.0,1358300000.0,...,534500000.0,10975190000.0,14.01205,2151800000.0,135000000.0,1358300000.0,2057800000.0,22200000.0,448500000.0,2000
24202,319126,6402000.0,-300000.0,665000.0,-6361000.0,6153000.0,9758000.0,8778000.0,5208000.0,2404000.0,...,249000.0,3480000.0,129.66559,29370000.0,-1682000.0,2404000.0,13986000.0,NaN,2804000.0,2000
24203,730469,483008000.0,NaN,1255000.0,56649000.0,468594000.0,335484000.0,641657000.0,267279000.0,-48430000.0,...,14414000.0,NaN,-1.79517,600282000.0,62651000.0,-48430000.0,908936000.0,NaN,170437000.0,2000
24204,6201,4402000000.0,NaN,-36000000.0,4733000000.0,2867000000.0,3969000000.0,14757000000.0,6698000000.0,5470000000.0,...,1535000000.0,NaN,33.90123,17516000000.0,1988000000.0,5470000000.0,21455000000.0,1040000000.0,5302000000.0,2000

In [6]:
# replace all NAN values with 0 and non-NANs with 1
healthy = healthy.notnull().astype('int')

# except for the instruments and the year
healthy['Instrument'] = healthy_raw['Instrument']
healthy['Year'] = healthy_raw['Year']


healthy.head()

,Instrument,Total Debt,Accounts Payable (CF),Inventories (CF),Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,Total Equity,Tangible Book Value - Banks,...,Cash and Short Term Investments,Market Value for Company,Tangible Book Value Per Share,Net Sales,Operating Income,Tangible Book Value - Utility,"Total Assets, Reported",Depreciation And Amortization,Total Current Liabilities,Year
24200,1750,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,2000
24201,61478,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2000
24202,319126,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,2000
24203,730469,1,0,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,0,1,2000
24204,6201,1,0,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,2000

In [7]:
for col in healthy.columns:
    print(col)

print()
print(len(healthy.columns))

Instrument
Total Debt
Accounts Payable (CF)
Inventories (CF)
Retained Earnings (Accumulated Deficit)
Net Debt Incl. Pref.Stock & Min.Interest
Total Current Assets
Total Liabilities
Total Equity
Tangible Book Value - Banks
Tangible Book Value - Insurance
Net Income/Starting Line, Cumulative
Tangible Book Value - Reported
Cash and Short Term Investments
Market Value for Company
Tangible Book Value Per Share
Net Sales
Operating Income
Tangible Book Value - Utility
Total Assets, Reported
Depreciation And Amortization
Total Current Liabilities
Year

23

In [8]:
healthy = healthy.groupby(['Instrument', 'Year']).sum().reset_index()
healthy['noNANs'] = healthy.sum(axis=1)
healthy = healthy[['Instrument', 'Year', 'noNANs']]

healthy.head()

  Instrument  Year  noNANs
0    1000045  2000      17
1    1000045  2001      17
2    1000045  2002      18
3    1000045  2003      18
4    1000045  2004      17

In [9]:
healthy.noNANs.max()

21

## Bankrupt Companies Dates Data

In [10]:
# read the bankruptcy dates
bankrupt = pd.read_csv('bankruptcy_dates.csv', dtype={'CIK': 'str'}, index_col=0)
# sort by date
bankrupt.sort_values(by=['Date'], inplace=True)

bankrupt

          CIK                             Company  Date
8        6125            Keystone Camera Products  1992
29     797422               Hi-Def Enterprise Inc  1993
23     822373                         Namsco Corp  1994
12      87817        Scientific Radio Systems Inc  1995
645   1129981            OGLEBAY NORTON CO /OHIO/  2004
88     225463                          HUFFY CORP  2004
519   1069201          CROSS MEDIA MARKETING CORP  2004
122    701345                US AIRWAYS GROUP INC  2004
598   1107080                  ENVIRO ENERGY CORP  2004
188    801550                             DVI INC  2004
626   1121131    REDLINE PERFORMANCE PRODUCTS INC  2004
52      66895      MISSISSIPPI CHEMICAL CORP /MS/  2004
217    829499        INTERSTATE BAKERIES CORP/DE/  2004
87     225211                         BICO INC/PA  2004
186    800181                 MED DIVERSIFIED INC  2004
560   1091953       CHOICE ONE COMMUNICATIONS INC  2004
35      38792         FRANKS NURSERY & CRAFTS INC  2004
77     100979                 ARIS INDUSTRIES INC  2004
352    930735          CROWN PACIFIC PARTNERS L P  2004
85     203200                         METATEC INC  2004
343    924174               CORAM HEALTHCARE CORP  2004
701   1170161                   IDEAL ACCENTS INC  2004
165    773326                       FORELAND CORP  2004
648   1131806              COMMERCE ONE INC / DE/  2004
271    878720         CHILDREN S BOOKS & TOYS INC  2004
524   1071645              WORLD ACCESS INC /NEW/  2004
54      73088                   NORTHWESTERN CORP  2004
511   1064063                      MIIX GROUP INC  2004
276    879206                            USN CORP  2004
185    797542             ZAXIS INTERNATIONAL INC  2004
...       ...                                 ...   ...
56      73887                   Bristow Group Inc  2019
59      76321             PARKER DRILLING CO /DE/  2019
522   1071411                Fusion Connect, Inc.  2019
856   1347613       SYNERGY PHARMACEUTICALS, INC.  2019
997   1437106          Ascent Capital Group, Inc.  2019
1073  1720201             iPic Entertainment Inc.  2019
266    872248               PETROQUEST ENERGY INC  2019
443   1024126  PERNIX THERAPEUTICS HOLDINGS, INC.  2019
1036  1528837                 Sanchez Energy Corp  2019
1055  1573166                  Jones Energy, Inc.  2019
1070  1656328     Sienna Biopharmaceuticals, Inc.  2019
1048  1555177           Emerge Energy Services LP  2019
1072  1690769       Alta Mesa Resources, Inc. /DE  2019
1053  1568079                    PetroShare Corp.  2019
1062  1586105                         Egalet Corp  2019
1061  1584952                       EP Energy LLC  2019
1056  1575360                 FTD Companies, Inc.  2019
476   1045425                RAIT Financial Trust  2019
1066  1603923       Weatherford International plc  2019
1033  1518403              Alta Mesa Holdings, LP  2019
789   1301501                      Achaogen, Inc.  2019
755   1282266            WINDSTREAM SERVICES, LLC  2019
745   1265107       MONITRONICS INTERNATIONAL INC  2019
306    896985          Destination Maternity Corp  2019
726   1208261          IMMUNE PHARMACEUTICALS INC  2019
216    827809          NOVELION THERAPEUTICS INC.  2019
396   1004980                           PG&E Corp  2019
411   1013238                        ARADIGM CORP  2019
607   1109196  MABVAX THERAPEUTICS HOLDINGS, INC.  2019
1074  1735828                Legacy Reserves Inc.  2019

[1175 rows x 3 columns]

In [11]:
# keep only bankrupt companies that went bankrupt after 2006
bankrupt = bankrupt[bankrupt.Date > 2005]
dates = bankrupt.groupby(['Date']).count()

dates

      CIK  Company
Date
2006   59       59
2007   85       85
2008   94       94
2009  177      177
2010   93       93
2011   66       66
2012   72       72
2013   64       64
2014   56       56
2015   52       52
2016   96       96
2017   55       55
2018   40       40
2019   46       46

# The Situation

So here we have 14 years, in each a specific number of bankrupt comapnies. Now we want to extract 5 healthy companies for each bankrupt one. Plus, this data should be collected from a period of year-7 to year-5.

So for example, we need data for 93 * 5 healthy companies in years 2004 to 2008 (inclusive), for 93 companies that went bankrupt in 2010.


On the other hand, we have a dataframe of healthy companies CIK code for each year (2000-2019) and a column showing the number of non-NAN values for each row. A no-NANs equal to 21 indicate that the company for that year has full data.
Now our goal is to pick those 5 company for each bankrupt companies from ones with the highest no-NANs values.



## The Strategy

For each time period, we calculate the sum of no-NANs for that period and pick the n maximums; n being the number of companiets that went bankrupt in year+1. So we have to do it 14 times (2007-2019).

In [12]:
healthy.head()

  Instrument  Year  noNANs
0    1000045  2000      17
1    1000045  2001      17
2    1000045  2002      18
3    1000045  2003      18
4    1000045  2004      17

In [13]:
healthy['Year'] = healthy['Year'].apply(lambda x: int(x))

In [14]:
# write a function for the task

def extract_healthy(df, year, n):
    '''
    The function takes the year in which n companies went bankrupt,
    and from the healthy dataframe, returns a CIK lists of 5 * n
    healthy companies which 6 years to 2 years before that year has
    the fullest dataset.
    '''
    
    # first remove all the extra rows for years not in the period
    df_temp = df[(df.Year < year-1) & (df.Year > year-7)]
    # group the dataframe by instrument, sum over the no-NANs
    df_temp = df_temp.groupby(['Instrument']).sum()
    # drop the now useless year column
    df_temp.drop(columns=['Year'], inplace=True)
    # descending-sort the companies based on noNANs magnitude
    df_temp.sort_values(by=['noNANs'], ascending=False, inplace=True)
    # cut the first n * 5 ones
    df_temp = df_temp[:5*n]
    # make a list of their CIK cides
    CIK_list = df_temp.index.to_list()
    # drop the healthy companies already picked from the df
     
    
    return CIK_list

In [15]:
# keep the original df safe, just in case
healthy_copy = healthy.copy()

# create a dic storing the CIK lists for different years
CIK_year = {}

# loop over all available years in our dataset
for year in range(2019, 2005, -1):
    # take the number of companies went bankrupt in that year
    n = int(dates[dates.index == year]['Company'])
    # take the CIK list
    CIK_list = extract_healthy(healthy_copy, year, n)
    # add the list to the dictionary
    CIK_year[year] = CIK_list
    

print(CIK_year)

{2019: ['106640', '1406574', '1031028', '1278027', '944400', '110430', '920532', '854800', '1323653', '880059', '723928', '1080029', '1476170', '724606', '1406243', '1406635', '72316', '1406666', '1358071', '929994', '1097864', '726845', '726958', '1477246', '1424768', '815093', '1033905', '13573', '915862', '799097', '829224', '722723', '885012', '1030206', '1323854', '866970', '1057807', '1029738', '830052', '1080667', '944809', '1123494', '1275283', '854398', '1030058', '1275712', '880460', '944765', '880266', '910111', '15847', '1123316', '721371', '880446', '1474735', '1104252', '1582244', '800286', '1404804', '722392', '1581804', '1358700', '1057083', '1572621', '815097', '941604', '1286973', '1287213', '740726', '941685', '1036960', '825322', '1409565', '915778', '742278', '1288741', '1056358', '743316', '743988', '1037646', '1121142', '1037649', '797721', '745655', '878079', '1056285', '1038143', '1038144', '1550935', '1481055', '1117795', '1423221', '1056087', '1038280', '1479426', '1036292', '825542', '1286597', '1056923', '879303', '922913', '730255', '1034957', '730263', '1321646', '943452', '1567529', '1078075', '1565228', '1120370', '1321544', '1120295', '1284823', '943034', '1078037', '943003', '7332', '736822', '103595', '82628', '1105542', '1119951', '1036044', '738076', '73887', '719209', '1081022', '1029199', '1325159', '946840', '1094084', '832370', '68145', '1070235', '884144', '1023734', '1325281', '852937', '883981', '1362120', '6955', '69671', '1024022', '1324948', '1263011', '1024126', '909326', '1607245', '1263074', '700998', '1361916', '859365', '909494', '701719', '1471458', '1094324', '1024725', '832407', '6769', '909037', '1023362', '1613780', '1022368', '1469395', '1059677', '803003', '1128928', '884887', '866706', '916365', '1022652', '1022671', '1325955', '1128252', '802356', '852766', '1362614', '852772', '866729', '1397966', '1260221', '1023128', '832488', '1023131', '1023139', '1362516', '866734', '920148', '703351', '1604858', '1029145', '1094739', '929008', '714256', '1324105', '1081751', '13610', '71557', '882235', '882154', '1402606', '913142', '716643', '945699', '1323974', '1271940', '800937', '1058090', '945641', '1272597', '717954', '718096', '1272830', '1103982', '1070412', '94538', '1124024', '1425905', '853971', '1403431', '712843', '1268471', '712034', '1125259', '883943', '1314592', '923601', '883907', '800901', '1058811'], 2018: ['907242', '930803', '800286', '1295810', '1295947', '1448397', '1296205', '1057083', '1056923', '49826', '1056358', '1056285', '929994', '1056087', '800901', '1298341', '800937', '48039', '47217', '50292', '1449877', '929008', '50863', '1059677', '1453593', '1290900', '928054', '5117', '1292087', '1058811', '1452217', '1057807', '1451951', '1292900', '1058090', '1058057', '928659', '875296', '1057997', '46765', '1602397', '875657', '46129', '1051114', '869986', '1050952', '869487', '1439124', '1306830', '80420', '42136', '804212', '1050140', '804753', '4127', '1437598', '1050007', '40987', '40888', '1309167', '870228', '4281', '1051488', '1441849', '1443242', '1443062', '45919', '873044', '1442505', '1052595', '1301787', '802356', '1439636', '1302362', '1302707', '1051846', '803003', '870753', '1303849', '1051512', '1289877', '1060009', '880460', '1278027', '1469395', '793733', '61986', '1069353', '1069336', '6176', '1275283', '923601', '879796', '1468642', '1067701', '1468091', '1067294', '1066961', '1066923', '60667', '879303', '15847', '1584549', '880059', '107140', '791519', '791531', '1071941', '1582244', '1471458', '63814', '922486', '1071337', '1070235', '880266', '1271940', '1272597', '63271', '1272830', '1070412', '922913', '106640', '795212', '1289814', '795551', '1062449', '877212', '1286973', '1287213', '1456453', '1456189', '927003', '1288741', '927066', '54441', '799097', '876160', '5337', '1289460', '1060426', '875762', '1060390', '877365', '56047', '1284823', '925660', '1466815', '1065860', '796124', '1065696', '1065677', '58492', '1463972', '56873', '1283950', '56868', '925894', '926042', '878079', '877931', '797721', '926295', '1049502', '868725', '1310067', '858877', '859737', '34151', '1333248', '811419', '1036960', '34088', '811596', '34067', '1621373', '941604', '1036292', '1334303', '1036044', '941685', '859368', '103595', '859365', '1332602', '1037646', '1037649', '861884', '1328571', '940173', '350698', '1328798', '1328919', '1424768', '1038683', '350557', '1423221', '1038357', '940944', '1038280', '810829'], 2017: ['941604', '882154', '795212', '1295810', '917470', '793733', '1495153', '1495479', '940173', '1295947', '1044777', '791519', '91741', '1292900', '790705', '882235', '795551', '1296205', '77597', '880460', '1488419', '799097', '1047335', '880446', '1101169', '1489136', '1299139', '9389', '1489979', '1298341', '1046568', '797721', '1046102', '796124', '1292087', '78966', '1043509', '941685', '1041859', '783412', '1041829', '1288741', '883293', '78150', '1041514', '1290900', '1287213', '779544', '778734', '777516', '777504', '776999', '1503584', '882873', '110430', '1104252', '1289460', '1502505', '1103982', '786620', '1501775', '940944', '78749', '1289877', '1103719', '1042825', '1499934', '789356', '1499780', '1047699', '104777', '1047857', '1051512', '809012', '1310067', '1051846', '1309167', '934648', '1099150', '1471261', '806817', '1051488', '1099196', '1471458', '1306830', '1051114', '806968', '809023', '1469395', '1052595', '1312073', '1468091', '1466815', '810829', '919012', '1097864', '811419', '1463972', '811596', '1315257', '811809', '878079', '919175', '1097264', '879303', '1474735', '880266', '880059', '1099977', '1049502', '936402', '800901', '1302707', '1302362', '1483934', '1099609', '1048685', '1048620', '1301787', '800286', '1100682', '1487101', '800937', '1481055', '936130', '1479426', '879796', '802356', '1050007', '918160', '803003', '1303849', '1050140', '1477246', '80420', '804212', '1476170', '804753', '918541', '1508912', '775158', '812906', '1030058', '1110903', '724606', '1030471', '945641', '945699', '1030206', '723928', '1550935', '887497', '887596', '1029738', '72316', '722723', '1263074', '886912', '886835', '77476', '1110452', '915862', '1109879', '1031896', '730263', '730255', '915778', '1268471', '1550406', '94538', '1110647', '727207', '726958', '726845', '1030997', '722392', '1029199', '1029145', '709283', '712034', '1025862', '946840', '711404', '1235468', '710217', '708821', '721371', '708818', '1232524', '1024725', '1115836', '707388', '1572621', '712515', '712843', '889900', '1566844', '714256', '1114925', '71557', '88941', '716643', '1114655', '71691', '717954', '718096', '1113866', '1260221', '719209', '1113306', '7332', '944809', '736822', '1038144', '943452', '1038683', '1107216', '1038357', '1038280', '884144', '1038143', '75252', '755113', '916529', '1037649', '1037646', '884624', '7536', '883981', '1106942', '1106851', '1039889', '1040130', '1283950', '883943', '883907', '768835', '943034', '768892', '1284823', '769594', '771617', '771999', '883787', '1105542', '1036960', '1278027', '1271940', '1109189', '1108838', '743988', '743316', '742278', '740726', '1275283', '73887', '1108332', '885639', '1033905', '738076', '1272830', '1272597', '944765', '885306', '745655', '944400', '1529892', '1108645', '747540', '103595', '748015', '748213', '749037', '749098', '749254'], 2016: ['1020391', '820097', '1069353', '1069336', '832370', '1508912', '832407', '17485', '711404', '946840', '832428', '928054', '832488', '712034', '712515', '1025862', '1306830', '29669', '1067701', '1409565', '712843', '1066961', '750004', '1309167', '928659', '1303849', '831749', '1024725', '1301787', '1023734', '880059', '1413898', '830052', '30302', '107140', '1024022', '927003', '927066', '879796', '879465', '710217', '1070412', '708818', '1302362', '879303', '708821', '1070235', '1302707', '709283', '1411861', '75252', '106640', '878079', '1310067', '836429', '1404592', '875762', '1607245', '1320934', '1321544', '1321646', '1403431', '875296', '1029145', '1029199', '1062449', '1318484', '930803', '1323653', '1323854', '1323974', '945699', '745655', '1029738', '1324105', '945641', '18172', '1318885', '1318310', '29002', '748213', '877931', '714256', '929008', '1312073', '1065860', '1065696', '1065677', '749037', '877365', '877212', '1315257', '2809', '1406635', '1406574', '748015', '71557', '747540', '1316898', '876160', '929994', '28372', '1318084', '1299139', '707388', '1071941', '821995', '883907', '1602397', '883787', '6955', '1423221', '69671', '1020214', '883293', '1283950', '1374328', '882873', '1080667', '1078723', '1421876', '1284823', '1550935', '1421419', '1078075', '1078037', '1077800', '3116', '700998', '883943', '821407', '823094', '1018871', '1271940', '1272597', '1272830', '820237', '315852', '1083663', '884887', '922913', '1275283', '6769', '884624', '821189', '1600139', '923601', '1278027', '884144', '1081751', '1019361', '883981', '68145', '821130', '1081022', '1077638', '311471', '1298341', '1072702', '925894', '880446', '1022652', '1022671', '1417663', '1295810', '1295947', '704440', '926042', '926295', '1023128', '1074436', '1730168', '1023131', '1023139', '880266', '1415404', '1023362', '1072483', '829224', '7536', '1414490', '880460', '925660', '701719', '755113', '1288741', '1021270', '882235', '882154', '1289460', '1076195', '1021604', '1419581', '948642', '1021853', '1289877', '82628', '1419428', '1290109', '1290900', '310568', '1418819', '1292087', '703351', '825542', '1292900', '1418135', '716643', '1402606', '1324948', '849240', '1047699', '13610', '726845', '1038143', '1038144', '1047335', '726958', '849146', '727207', '1361658', '1038280', '859737', '1361709', '849399', '1038357', '859368', '1361916', '943452', '1362120', '859365', '1362468', '736822', '104777', '936402', '858877', '936130', '1036292', '1050007', '1356093', '846876', '1387713', '1049502', '723928', '738076', '1386716', '1036960', '1386607', '1037649', '13573', '1358071', '861884', '1048685', '1048620', '724606', '725363', '1385544', '1358700', '1037646', '1038683', '1362516', '1388319', '85408', '1369241', '1377673', '855667', '1043509', '851310', '1376755', '1370544', '1042825', '1376139', '21510', '940944', '1377789', '941685', '853971', '1616262', '1041859', '1041514', '1041829', '941604', '1373835', '852937', '852766', '1368900', '730263', '1362614', '2178', '1046568', '1381531', '1046102', '1381325', '850209', '943034', '1365784', '1039889', '9389', '1040130', '1366868', '1378453', '1044777', '940173', '7332', '850579', '850660', '850693', '1368265', '1368519', '856250', '730255', '1388195', '23197', '1325159', '1031896', '1119083', '1058090', '1058057', '743988', '1397966', '743316', '1057807', '1334303', '869487', '868725', '1336917', '1332602', '8411', '1057083', '1396279', '26780', '1056923', '1056358', '944809', '944765', '26172', '1056285', '869986', '1058811', '26076', '1326652', '1030058', '1325281', '1030206', '1325955', '837173', '1326059', '1060426', '1030471', '71691', '1401112', '1060390', '870753', '1060009', '873044', '717954', '1059677', '1328571', '1328798', '1328919', '1329394', '718096', '94538', '1056087', '1339947', '1354217', '72316', '1051846', '864749', '1349108', '2491', '2488', '1051512', '1051488', '722723', '845818', '1389305', '1350381', '1347178', '864240', '103595', '1389050', '1051114', '1350653', '864233', '934648', '23666', '73887', '1353487', '722392', '1346685', '866970', '1341439', '933267', '1395593', '842162', '742278', '19353', '1341170', '866734', '866729', '1341335', '1394156', '866706', '19584', '721371', '866374', '1344376', '740726', '843405', '1529892', '1345840', '1052595', '944400', '865415', '316793', '852772', '101821', '1466815', '1471261', '906782', '1161785', '1101169', '1162556', '802356', '1163165', '803003', '906193', '1469395', '779544', '1100682', '1163560', '80420', '1572621', '1099977', '804212', '1674862', '49826', '918160', '804753', '48039', '1160262', '800937', '1005229', '909326', '1103982', '45919', '1157408', '1005010', '909037', '1103719', '800286', '1005214', '1157780', '1471458', '78150', '46129', '46765', '91741', '1159513', '907242', '47217', '800901', '917470', '1166126', '1166141', '34088', '778734', '1170650', '1170848', '50863', '775158', '1097264', '1171264', '1097020', '1171596', '5117', '1172222', '899597', '1010552'], 2015: ['891919', '1321544', '918160', '1030058', '890908', '1030206', '846876', '726845', '1030471', '726958', '727207', '1099196', '1099150', '1221715', '724606', '94538', '730255', '730263', '889900', '845818', '918541', '1320934', '88941', '944809', '7332', '736822', '725363', '1099609', '1227930', '722392', '892025', '1100682', '1201251', '1065696', '1065677', '869986', '1205727', '1207179', '721371', '1099977', '89140', '1373835', '1374328', '722723', '72316', '891288', '1029145', '1029199', '945699', '870753', '1508912', '945641', '1029738', '723928', '1031896', '738076', '892450', '886835', '1084557', '919012', '1318310', '75252', '1318084', '103595', '843405', '7536', '1084702', '1036292', '886912', '755113', '1097020', '1381325', '1381531', '1036960', '1316898', '1260221', '1096376', '842294', '1037646', '1037649', '1062449', '1263074', '1318484', '750004', '73887', '743988', '944765', '1376139', '1499780', '1376755', '740726', '1232384', '1097864', '742278', '929994', '1232524', '743316', '1377673', '887596', '745655', '873044', '1377789', '1378453', '1235468', '1318885', '748015', '944400', '1084475', '748213', '749037', '1200268', '718096', '1038144', '1067701', '897723', '948642', '1021853', '1529892', '63271', '1103982', '63814', '1022225', '850660', '850579', '65011', '1368519', '1368265', '1325159', '1103719', '896841', '1022652', '1022671', '922913', '1324948', '1368900', '1369241', '1066961', '1023128', '1021604', '61986', '1023139', '1171264', '1069336', '899597', '56047', '1105542', '916529', '56868', '1020391', '56873', '1170650', '1170848', '58492', '1366868', '6176', '1171596', '851310', '1326059', '60667', '1325955', '850693', '1172222', '110430', '1021270', '1325281', '1104252', '1023131', '928659', '717954', '712515', '1183941', '708818', '708821', '710217', '894081', '849240', '1025862', '711404', '1191255', '91741', '712034', '849146', '1323653', '712843', '1101169', '1065860', '71557', '1083663', '892907', '917470', '89270', '716643', '892553', '71691', '707388', '929008', '850209', '700998', '1023362', '6769', '68145', '106640', '895642', '6955', '69671', '1023734', '895564', '1324105', '1370544', '1323974', '1024725', '1024022', '895419', '701719', '895041', '946840', '1179821', '703351', '849399', '869487', '704440', '894627', '1038143', '885639', '1365784', '813298', '831749', '1090514', '1090507', '1058090', '1058057', '879796', '1289790', '1050007', '812906', '1289877', '920532', '1290109', '811809', '1303849', '813828', '1423221', '813920', '1290900', '814068', '877212', '1057807', '934648', '877365', '1089976', '1289460', '1049502', '1051114', '809023', '806968', '1396279', '832488', '1047699', '1091862', '936402'], 2014: ['823094', '944400', '56868', '56873', '14177', '916529', '797721', '873044', '8411', '58492', '1298341', '925894', '1361709', '1072483', '1135338', '1299139', '1361658', '60667', '1133260', '1099150', '909037', '870753', '1419581', '6176', '61986', '1099196', '1073362', '1362120', '866734', '5117', '49754', '1030058', '49826', '1030206', '50292', '1289877', '1030471', '1290109', '800286', '94538', '1290900', '1137789', '1295947', '1097864', '799097', '1292900', '944765', '1074436', '54441', '1362468', '1031896', '798949', '1295810', '56047', '103595', '926295', '63271', '68145', '1304421', '910111', '1038280', '1038357', '793733', '943034', '1038683', '927066', '1358700', '1128252', '6769', '1306830', '869986', '1099977', '1039889', '866970', '866830', '1040130', '1040161', '1070412', '915862', '843405', '6955', '69671', '1071255', '943452', '1038144', '1038143', '1071941', '796124', '1301206', '63814', '1036292', '909326', '1301787', '795551', '869487', '916365', '65011', '795212', '13610', '1498301', '1130626', '1302707', '1037646', '1037649', '107140', '1099609', '842294', '868725', '1303849', '907242', '852766', '800364', '1023139', '806817', '353184', '1078723', '1369241', '1022652', '353569', '1368900', '1368358', '1023128', '354963', '1023131', '1023362', '878079', '1278027', '1145700', '355777', '1078075', '1078037', '923601', '89140', '1077638', '1368265', '1024022', '357020', '1022225', '879303', '948642', '806968', '1081022', '922913', '34067', '901491', '34088', '1080667', '1271940', '1020391', '34151', '1272597', '1272830', '901696', '350557', '350698', '808219', '1021270', '879465', '1406635', '1275283', '1021604', '350907', '918160', '1021853', '804753', '946840', '1289790', '45919', '1140625', '917470', '800937', '1288741', '800901', '1140310', '1097020', '91741', '837173', '906782', '875296', '46129', '37748', '1138951', '1289460', '46765', '1029145', '1029199', '1508912', '945641', '1363851', '47217', '48039', '1029738', '4281', '1076195', '875762', '802356', '877931', '1144354', '1144331', '804212', '1096376', '1024725', '877890', '3959', '39899', '877365', '1366868', '877212', '1025862', '1283950', '40888', '40987', '876427', '906193', '4127', '1284823', '42136', '876160', '803003', '1423221', '866706', '1404592', '1328919', '1114925', '1328571', '1051488', '775158', '1051512', '73887', '1114655', '850579', '1051846', '77476', '1328798', '1113866', '105132', '1344376', '1329394', '1052595', '850660', '850693', '1113232', '1062449', '742278', '913165', '1343257', '1439124', '738076', '77597', '1070235', '1325955', '859737', '1324948', '1049502', '1325159', '1116942', '1325281', '1103982', '730255', '730263', '1050007', '850209', '779544', '1051114', '1326059', '778734', '1104252', '929994', '7332', '934648', '859368', '859365', '858877', '736822', '110430', '743988', '1111863', '1105542', '1341170', '1442505'], 2013: ['1084031', '1031896', '856250', '14177', '1309167', '1310067', '925894', '107140', '944765', '37748', '1145700', '813828', '1099609', '755113', '3959', '1071255', '39899', '926295', '813920', '1312073', '814068', '1313024', '40888', '1144354', '1099196', '896841', '40987', '812906', '895564', '1304421', '1159154', '1073362', '353184', '896262', '353569', '76149', '1029145', '1029199', '945641', '1071941', '1306830', '1029738', '813298', '914397', '354963', '1030192', '1030206', '355777', '94538', '1030471', '1144331', '4127', '1038683', '1037649', '49754', '49826', '815094', '1318084', '1318310', '1318484', '50292', '1318885', '815097', '1037646', '1138951', '1479013', '5117', '1369241', '1038143', '1038144', '943452', '1368900', '851310', '1038280', '943034', '1038357', '815093', '1100682', '7536', '1316898', '854775', '1070412', '944400', '853971', '1099977', '1315257', '1070235', '852937', '899597', '927066', '852772', '1140625', '45919', '103595', '46129', '1069353', '46765', '47217', '1069336', '75252', '1036292', '48039', '1159513', '858877', '859368', '1021270', '809012', '892450', '1166663', '865415', '1166380', '1498301', '864749', '892553', '1166141', '1166126', '315852', '808918', '1295810', '1295947', '1021604', '89270', '864240', '948642', '1021853', '864233', '316793', '892907', '922913', '1020391', '1160262', '1381531', '101821', '890908', '77597', '1078075', '310568', '310764', '1078037', '775158', '891288', '891293', '89140', '916365', '1290900', '311471', '1168696', '1019361', '3116', '77476', '1077638', '1292900', '891919', '892025', '771999', '317477', '1022225', '1097020', '915778', '34088', '946840', '34151', '1377673', '861884', '1300050', '1024725', '1161785', '350557', '766011', '317771', '350698', '1301206', '895041', '1025862', '1301787', '350907', '811809', '859737', '895419', '1302707', '1024022', '1162556', '810829', '768411', '318154', '1076195', '319126', '1297024', '319450', '923601', '1096199', '769594', '1023128', '1023131', '1023139', '320345', '320575', '1023362', '768

In [16]:
# write the dictionary
with open('CIK_year.txt', 'wb') as f:
    pickle.dump(CIK_year, f)

## Second Strategy

This time I will create a dataframe, with the rows being healthy companies, and the columns being the 5-year periods, so to calculate the fullness of each healthy company for each period for an optimal selection.

In [17]:
healthy.head()

  Instrument  Year  noNANs
0    1000045  2000      17
1    1000045  2001      17
2    1000045  2002      18
3    1000045  2003      18
4    1000045  2004      17

In [18]:
def score_cal(df, year):
        '''
        The function takes the healthy df and a year, and calculate the
        healthy companies' scores (#non-NAN-values) for 6 years to 2
        years before that year, and returns it in a dataseries.
        '''
        
        # first remove all the extra rows for years not in the period
        df_temp = df[(df.Year < year-1) & (df.Year > year-7)]
        # group the dataframe by instrument, sum over the no-NANs
        df_temp = df_temp.groupby(['Instrument']).sum()

        return df_temp.noNANs


    
def extract_healthy_2(df):
    '''
    This function takes a healthy dataframe and and returns a
    dataframe stating each company's score (non-NAN values) for
    a period.
    '''

    # create a new dataframe to store each company score per period
    df_out = df.groupby(['Instrument']).sum()
    
    for year in range(2019, 2005, -1):
        # set the column title
        title = str(year) + ':(' + str(year-6) + '-' + str(year-2) + ')'
        df_out[title] = np.around((score_cal(df, year) / 105 * 100), decimals=2)
        
    df_out.drop(columns=['Year', 'noNANs'], inplace=True)
        
    return df_out

In [19]:
dfout = extract_healthy_2(healthy)

dfout

,2019:(2013-2017),2018:(2012-2016),2017:(2011-2015),2016:(2010-2014),2015:(2009-2013),2014:(2008-2012),2013:(2007-2011),2012:(2006-2010),2011:(2005-2009),2010:(2004-2008),2009:(2003-2007),2008:(2002-2006),2007:(2001-2005),2006:(2000-2004)
Instrument,,,,,,,,,,,,,,
1000045,80.95,80.95,80.00,79.05,79.05,79.05,79.05,80.00,80.95,80.95,81.90,82.86,82.86,82.86
1000157,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48
1000177,99.05,99.05,99.05,98.10,97.14,96.19,95.24,95.24,95.24,95.24,94.29,93.33,92.38,91.43
1000180,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,99.05,98.10,97.14,96.19,95.24,95.24
1000184,90.48,90.48,90.48,89.52,88.57,87.62,86.67,85.71,85.71,85.71,85.71,85.71,85.71,87.62
1000209,76.19,76.19,76.19,76.19,76.19,77.14,78.10,79.05,80.00,80.95,80.95,80.95,80.95,80.95
1000227,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48
1000228,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48
1000229,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1000230,95.24,95.24,95.24,95.24,95.24,96.19,96.19,96.19,96.19,96.19,95.24,95.24,95.24,95.24
1000232,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14
1000234,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14
1000275,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14,57.14
1000278,90.48,90.48,90.48,90.48,90.48,91.43,92.38,93.33,94.29,95.24,95.24,95.24,95.24,95.24
1000297,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71
1000298,75.24,74.29,73.33,72.38,71.43,71.43,72.38,73.33,74.29,75.24,76.19,76.19,76.19,76.19
1000300,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95
1000368,95.24,95.24,95.24,95.24,95.24,95.24,94.29,92.38,77.14,61.90,43.81,26.67,10.48,7.62
1000623,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24
1000683,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48
1000694,85.71,85.71,85.71,85.71,85.71,86.67,87.62,88.57,89.52,90.48,90.48,90.48,89.52,88.57
1000695,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24
1000697,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1000736,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24
1000753,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24
1000779,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71
1001082,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1001085,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.00,79.05,77.14,75.24,74.29,72.38
1001111,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,94.29,80.00,61.90,43.81,25.71
1001113,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95,80.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97517,76.19,76.19,76.19,76.19,76.19,76.19,76.19,76.19,76.19,76.19,76.19,76.19,76.19,76.19
97745,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,96.19,97.14,98.10,98.10,98.10,97.14
97854,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,96.19,97.14
9801,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48
98222,100.00,100.00,100.00,100.00,100.00,99.05,99.05,98.10,97.14,96.19,96.19,95.24,95.24,95.24
98246,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,91.43,92.38,93.33,94.29,95.24
98338,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71
98362,95.24,95.24,94.29,93.33,92.38,91.43,90.48,90.48,90.48,91.43,92.38,92.38,92.38,92.38
98537,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48
98544,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71
98573,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24
98618,88.57,90.48,92.38,94.29,95.24,95.24,95.24,94.29,93.33,92.38,91.43,90.48,91.43,92.38
98677,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,91.43,92.38,93.33,94.29,95.24,95.24
98720,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
98752,95.24,95.24,95.24,96.19,97.14,98.10,99.05,100.00,100.00,100.00,99.05,98.10,97.14,96.19
98827,4.76,4.76,4.76,4.76,4.76,4.76,4.76,4.76,4.76,4.76,4.76,4.76,4.76,3.81
98840,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9892,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48
99047,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,85.71,86.67,87.62,89.52
99070,91.43,91.43,92.38,94.29,96.19,98.10,100.00,100.00,100.00,86.67,67.62,48.57,29.52,10.48
99106,91.43,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48
99197,9.52,9.52,9.52,8.57,7.62,6.67,5.71,4.76,4.76,4.76,4.76,4.76,4.76,4.76
99249,84.76,85.71,86.67,87.62,87.62,88.57,87.62,86.67,85.71,87.62,89.52,91.43,93.33,95.24
99250,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,76.19,57.14
99302,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,96.19,97.14,97.14,97.14
99313,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48
99359,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24
99614,71.43,71.43,71.43,71.43,72.38,73.33,74.29,75.24,76.19,76.19,76.19,76.19,76.19,76.19
99780,85.71,85.71,85.71,85.71,85.71,84.76,83.81,82.86,81.90,80.95,80.95,80.95,80.95,80.95
9984,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24,95.24

## Final Decision

In [20]:
# for the first step, remove the CIK with no filed/recorded 10-K forms
# read the csv file
cik_no10K = pd.read_csv('cik_without_10k.csv', header=None)

bad_cik = cik_no10K[0].to_list()

cik_no10K.head()

         0
0  1423221
1   704440
2  1616262
3   895564
4   315126

In [21]:
# just check a list of full rows companies, plus one totally empty one
check_list = [98840, 98222, 1001082, 1000697, 1000229, 1000180]

for cik in check_list:
    if cik in bad_cik:
        print(cik, 'is a bad CIK!')

print(len(bad_cik), 'bad CIK codes!')
healthy_fullness = dfout.reset_index()
healthy_fullness.head()

933 bad CIK codes!

,Instrument,2019:(2013-2017),2018:(2012-2016),2017:(2011-2015),2016:(2010-2014),2015:(2009-2013),2014:(2008-2012),2013:(2007-2011),2012:(2006-2010),2011:(2005-2009),2010:(2004-2008),2009:(2003-2007),2008:(2002-2006),2007:(2001-2005),2006:(2000-2004)
0,1000045,80.95,80.95,80.00,79.05,79.05,79.05,79.05,80.00,80.95,80.95,81.90,82.86,82.86,82.86
1,1000157,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48
2,1000177,99.05,99.05,99.05,98.10,97.14,96.19,95.24,95.24,95.24,95.24,94.29,93.33,92.38,91.43
3,1000180,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,99.05,98.10,97.14,96.19,95.24,95.24
4,1000184,90.48,90.48,90.48,89.52,88.57,87.62,86.67,85.71,85.71,85.71,85.71,85.71,85.71,87.62

In [22]:
# change cik codes format in bad_cik list to string
# so to be comparable with the Instrument column of
# our dataframe
print(type(bad_cik[1]))
print(type(healthy_fullness.Instrument[1]))
bad_cik = [str(cik) for cik in bad_cik]
type(bad_cik[1])

<class 'int'>
<class 'str'>

str

In [23]:
# drop companies with no filed 10-K form
healthy = healthy_fullness[~healthy_fullness.Instrument.isin(bad_cik)]
# check to make sure everything is okay and under control
print(len(healthy_fullness), '-', len(set(bad_cik)), '=', len(healthy))

healthy.head()

14761 - 292 = 14469

,Instrument,2019:(2013-2017),2018:(2012-2016),2017:(2011-2015),2016:(2010-2014),2015:(2009-2013),2014:(2008-2012),2013:(2007-2011),2012:(2006-2010),2011:(2005-2009),2010:(2004-2008),2009:(2003-2007),2008:(2002-2006),2007:(2001-2005),2006:(2000-2004)
0,1000045,80.95,80.95,80.00,79.05,79.05,79.05,79.05,80.00,80.95,80.95,81.90,82.86,82.86,82.86
1,1000157,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48,90.48
2,1000177,99.05,99.05,99.05,98.10,97.14,96.19,95.24,95.24,95.24,95.24,94.29,93.33,92.38,91.43
3,1000180,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,99.05,98.10,97.14,96.19,95.24,95.24
4,1000184,90.48,90.48,90.48,89.52,88.57,87.62,86.67,85.71,85.71,85.71,85.71,85.71,85.71,87.62

In [40]:
# create a new dictionary to save the fullest
# healthy companies for each period
cik_codes = {2000:[], 2001:[], 2002:[], 2003:[], 2004:[],
             2005:[], 2006:[], 2007:[], 2008:[], 2009:[],
             2010:[], 2011:[], 2012:[], 2013:[], 2014:[],
             2015:[], 2016:[], 2017:[]}

def CIK_picking(df, year, n):
    '''
    this function takes the healthy fullness dataframe,
    a year, and the number of bankrupt companies in the year (n),
    and produces a list including 5n healthy companies with
    the fullest rows in the period 7 to 2 years before that year,
    plus CIK of bankrupt companies in that year.
    The function, then, adds these CIK codes to the cik_codes'
    keys for each year in the period of 7-2 years before that year.
    And finally write the dictionary in a pickle file.
    '''
    
    # descending-sort the companies for that year
    col = str(year) + ':(' + str(year-6) + '-' + str(year-2) + ')'
    df.sort_values(by=[col], ascending=False, inplace=True)
    # make a list of their CIK cides
    CIK_list = df.Instrument.to_list()
    # cut the first n * 5 ones
    max_list = CIK_list[:5*n]
    # add bankrupt CIK in the 'year' to the list
    final_list = max_list + bankrupt[bankrupt.Date == year].CIK.to_list()
    
    for yr in range(year-6, year-1):
        cik_codes[yr] += final_list


# run the healthy_picking function for 14 years (2006-19)
for year in range(2006, 2020):
    # take the number of companies went bankrupt in that year
    n = dates.Company[year]
    # add the CIK lists to the cik_codes dictionary
    CIK_picking(healthy, year, n)

/Users/user/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [60]:
# Clear each cik_codes dictionary's key's list to make sure
# there ain't repetitive elements (CIKs) in them

# create a list, to store all CIKs
all_CIKs = []

for year in range(2000, 2018):
    cik_codes[year] = list(set(cik_codes[year]))
    all_CIKs += cik_codes[year]
    
# write the dictionary
with open('CIK_year.txt', 'wb') as f:
    pickle.dump(cik_codes, f)
    

# remove repetitive CIKs
all_CIKs = list(set(all_CIKs))
# the number of CIKs - the total number of bankrupt CIKs
# to check the number of healthy CIKs in our data
print('Final number of healthy companies in our dataset:', len(all_CIKs) - dates.Company.sum())
print('And the number of bankrupt companies in our dataset:', dates.Company.sum())

Final number of healthy companies in our dataset: 1152
And the number of bankrupt companies in our dataset: 1055