In [1]:
import pandas as pd

In [2]:
# read data
data = pd.read_csv('data.csv', dtype=object)

data.head()

,Instrument,Total Debt,Accounts Payable (CF),NAICS Industry Group Name,Inventories (CF),Delisted Quote Flag,Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,...,Tangible Book Value Per Share,Net Sales,Operating Income,Instrument Is Active Flag,Tangible Book Value - Utility,"Total Assets, Reported",Depreciation And Amortization,Total Current Liabilities,Year,Bankrupt
0,910655,1866000.0,-235000.0,Motor Vehicle Body and Trailer Manufacturing,-9289000.0,1.0,49741000.0,-8580000.0,82689000.0,23250000.0,...,8.43993,360326000.0,40075000.0,0.0,87124000.0,117739000.0,413000.0,19209000.0,2000,1
1,1116521,10000000.0,-47000000.0,Communications Equipment Manufacturing,81000000.0,1.0,NaN,-184000000.0,3043000000.0,2422000000.0,...,5.59129,8268000000.0,369000000.0,0.0,1556000000.0,4239000000.0,NaN,1597000000.0,2000,1
2,895651,377000.0,NaN,Offices of Other Health Practitioners,289000.0,1.0,-18251000.0,-1483000.0,9479000.0,13186000.0,...,0.4067,54971000.0,-1056000.0,0.0,3622000.0,32145000.0,NaN,6303000.0,2000,1
3,1398702,NaN,NaN,Tobacco Manufacturing,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2000,1
4,1434621,NaN,NaN,Nondepository Credit Intermediation,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2000,1

In [3]:
# extract the healthy dataframe
healthy = data[data['Bankrupt'] == '0']

healthy.head()

,Instrument,Total Debt,Accounts Payable (CF),NAICS Industry Group Name,Inventories (CF),Delisted Quote Flag,Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,...,Tangible Book Value Per Share,Net Sales,Operating Income,Instrument Is Active Flag,Tangible Book Value - Utility,"Total Assets, Reported",Depreciation And Amortization,Total Current Liabilities,Year,Bankrupt
24200,1750,181359000.0,24659000.0,Aerospace Product and Parts Manufacturing,-46212000.0,0.0,184529000.0,173109000.0,508186000.0,400595000.0,...,10.44308,1050608000.0,77381000.0,1.0,285942000.0,726630000.0,NaN,173586000.0,2000,0
24201,61478,49900000.0,45000000.0,Communications Equipment Manufacturing,-66700000.0,1.0,899200000.0,-484600000.0,1376600000.0,462500000.0,...,14.01205,2151800000.0,135000000.0,0.0,1358300000.0,2057800000.0,22200000.0,448500000.0,2000,0
24202,319126,6402000.0,-300000.0,"Navigational, Measuring, Electromedical, and C...",665000.0,0.0,-6361000.0,6153000.0,9758000.0,8778000.0,...,129.66559,29370000.0,-1682000.0,1.0,2404000.0,13986000.0,NaN,2804000.0,2000,0
24203,730469,483008000.0,NaN,Other Investment Pools and Funds,1255000.0,1.0,56649000.0,468594000.0,335484000.0,641657000.0,...,-1.79517,600282000.0,62651000.0,0.0,-48430000.0,908936000.0,NaN,170437000.0,2000,0
24204,6201,4402000000.0,NaN,Scheduled Air Transportation,-36000000.0,0.0,4733000000.0,2867000000.0,3969000000.0,14757000000.0,...,33.90123,17516000000.0,1988000000.0,1.0,5470000000.0,21455000000.0,1040000000.0,5302000000.0,2000,0

In [ ]:
# read the bankruptcy dates
dates = pd.read_csv('bankruptcy_dates.csv', dtype=object, index_col=0)
# sort by date
dates.sort_values(by=['Date'], inplace=True)

dates

In [ ]:
# replace all NAN values with 0 and non-NANs with 1
healthy_nan = healthy.notnull().astype('int')
# except for the instruments and the year
healthy_nan['Instrument'] = healthy['Instrument']
healthy_nan['Year'] = healthy['Year']

print(list(healthy_nan.columns))
print()
print(len(list(healthy_nan.columns)))

healthy_nan.head()

In [ ]:
healthy_test = healthy_nan.groupby(['Instrument', 'Year']).sum()
healthy_test['no_NAN_values'] = healthy_test.sum(axis=1)

healthy_test