In [1]:
import pandas as pd

In [ ]:
# inflation rate in North America
inflation = {
    2000: 3.048,
    2001: 2.676,
    2002: 1.922,
    2003: 2.514,
    2004: 2.267,
    2005: 2.803,
    2006: 2.614,
    2007: 2.496,
    2008: 3.105,
    2009: -.028,
    2010: 1.708,
    2011: 3.034,
    2012: 1.793,
    2013: 1.202,
    2014: 1.764,
    2015: 0.622,
    2016: 1.345,
    2017: 1.863,
    2018: 2.355,
    2019:
}

In [3]:
data = pd.read_csv('/Users/user/Documents/Bankruptcy/bankruptcy/data/Eikon/data.csv')
data.head()

,Total Debt,Accounts Payable (CF),Inventories (CF),Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,Total Equity,Tangible Book Value - Insurance,"Net Income/Starting Line, Cumulative",...,d_focus,d_repurchase,d_service,d_goodwill,d_reset,d_expenditure,d_stress,d_exit,d_tranche,d_accordingly
0,0.000005,-0.025690,-0.041836,-0.997354,-0.998423,0.000015,0.000005,-0.998949,-0.998920,-0.589747,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000005,-0.025680,-0.041751,-0.997355,-0.998422,0.000014,0.000005,-0.998949,-0.998920,-0.589743,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000005,-0.025676,-0.041755,-0.997355,-0.998423,0.000015,0.000005,-0.998949,-0.998920,-0.589741,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000004,-0.025671,-0.041802,-0.997354,-0.998424,0.000017,0.000005,-0.998949,-0.998920,-0.589740,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000006,-0.025670,-0.041881,-0.997353,-0.998424,0.000022,0.000007,-0.998946,-0.998917,-0.589738,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
data[data.]