In [1]:
import numpy as np
import pandas as pd

import pickle

In [2]:
# read the dictionary of CIK codes
with open('CIK_year.txt', 'rb') as fp:
    CIK = pickle.load(fp)
    

# convert all CIK codes in the dictionary to strings
for key, value in CIK.items():
    CIK[key] = [str(cik) for cik in value]
            

# read the csv of data
data = pd.read_csv('data.csv', dtype={'Instrument': 'str'})

In [4]:
unique_CIKs = len(list(set(data.Instrument.to_list())))
print(unique_CIKs)
len(data.Instrument.unique())

15221

15221

In [8]:
# creat a list to add all CIK codes to
CIK_list = []

# iterating over the dictionary items and add CIK lists to our list
for key, value in CIK.items():
    CIK_list += value

# remove duplicated elements
CIK_list = list(set(CIK_list))

print('There are', len(CIK_list), 'CIK codes in our list.')

CIK_list

There are 2220 CIK codes in our list.

['0001279676',
 '0001047153',
 '1487101',
 '7332',
 '0001341843',
 '0000704384',
 '14280',
 '1374328',
 '42136',
 '899751',
 '318259',
 '837173',
 '0000840889',
 '0001086385',
 '0001015979',
 '1001385',
 '0000002034',
 '0001020475',
 '0001097805',
 '0001176193',
 '850693',
 '0001343202',
 '0000093542',
 '0001389053',
 '919642',
 '0000874841',
 '0000776008',
 '799097',
 '1295810',
 '1024126',
 '1582244',
 '1081751',
 '863650',
 '0001124608',
 '932787',
 '836429',
 '932696',
 '0001271833',
 '0000797331',
 '1002517',
 '1100270',
 '0000739708',
 '874759',
 '0001475899',
 '0001014763',
 '0000884719',
 '0001121745',
 '876427',
 '1334036',
 '1325955',
 '884624',
 '1058090',
 '0001346526',
 '0001178818',
 '1232524',
 '926295',
 '1063254',
 '1040130',
 '1037461',
 '812301',
 '75288',
 '0000827809',
 '940944',
 '0000935063',
 '0001584952',
 '1049502',
 '914122',
 '1009672',
 '1098972',
 '0000810208',
 '355019',
 '0001159154',
 '897723',
 '0001072765',
 '1442505',
 '0000837173',
 '0001399311',
 '0001310067',
 '0001143566',
 '0000880460',
 '864749',
 '0000718007',
 '0001023994',
 '0001403433',
 '768835',
 '0000764794',
 '1406243',
 '0000946661',
 '0001010610',
 '0001176325',
 '1326652',
 '0001554875',
 '110430',
 '875762',
 '0000016104',
 '0000758256',
 '1315257',
 '1419428',
 '778734',
 '0001085475',
 '0001534287',
 '0001487561',
 '1023514',
 '852570',
 '1078271',
 '1257803',
 '0001349436',
 '737572',
 '1096376',
 '1082038',
 '1190723',
 '1045810',
 '0001232229',
 '1057232',
 '1020017',
 '0001056756',
 '40987',
 '1044896',
 '0000797329',
 '913590',
 '4127',
 '0001256536',
 '892907',
 '0001376812',
 '928421',
 '17485',
 '1125259',
 '0000030197',
 '103730',
 '1463972',
 '0000728249',
 '0001023139',
 '870753',
 '1006045',
 '714256',
 '883981',
 '1043432',
 '1078383',
 '1037649',
 '1051470',
 '1402281',
 '0001399246',
 '0000896842',
 '0001060390',
 '0000919603',
 '892482',
 '1353487',
 '0001398702',
 '912607',
 '1058811',
 '0001161924',
 '0001388741',
 '1100682',
 '889423',
 '1099160',
 '0000813781',
 '750004',
 '0000313395',
 '0001434621',
 '1101680',
 '0001372326',
 '1550910',
 '0001318035',
 '0000810536',
 '930184',
 '47217',
 '0001343719',
 '1173489',
 '809012',
 '1389050',
 '821995',
 '879303',
 '0000320573',
 '1003130',
 '1115836',
 '350907',
 '66382',
 '1135951',
 '0001362614',
 '913353',
 '0001011509',
 '0001004980',
 '72316',
 '1021853',
 '852766',
 '0001551510',
 '1389170',
 '1046501',
 '1050007',
 '0001405041',
 '730255',
 '1334303',
 '0000088095',
 '19584',
 '727207',
 '1092083',
 '752431',
 '0001016177',
 '0001094026',
 '813298',
 '891919',
 '0000353779',
 '1108058',
 '1327364',
 '868725',
 '71829',
 '941604',
 '0000720145',
 '1119951',
 '21510',
 '65011',
 '727273',
 '0001021096',
 '797468',
 '357020',
 '0001359555',
 '1049210',
 '879585',
 '811212',
 '1042825',
 '101295',
 '804212',
 '0000034879',
 '792641',
 '1025743',
 '0000804331',
 '1506829',
 '0001346980',
 '0001111697',
 '0000019161',
 '1084475',
 '0001165921',
 '0001397516',
 '0000946283',
 '883293',
 '0001286382',
 '40528',
 '1009244',
 '0001006837',
 '0001532750',
 '0001046880',
 '315852',
 '106040',
 '718096',
 '1144354',
 '1042784',
 '0000861955',
 '0001305748',
 '1038572',
 '886912',
 '0000084919',
 '0001181232',
 '0000096287',
 '1163932',
 '0000944739',
 '1022368',
 '1671013',
 '354655',
 '0001070510',
 '0000895648',
 '0001521847',
 '0000793586',
 '0001071411',
 '866734',
 '0001043055',
 '0001403085',
 '72911',
 '0001016933',
 '0001141197',
 '0001367311',
 '0001178104',
 '1585364',
 '1093082',
 '0001471261',
 '82628',
 '0000943320',
 '1471458',
 '0001297720',
 '930803',
 '852772',
 '0000878079',
 '0001489137',
 '1392326',
 '0000944136',
 '1377789',
 '0000075208',
 '0001422109',
 '0001429386',
 '1094739',
 '1058057',
 '0001360214',
 '0001265107',
 '0001131072',
 '1301206',
 '0001410177',
 '46765',
 '0001178717',
 '0001366913',
 '1162556',
 '0000058592',
 '0001562594',
 '1397966',
 '0001437106',
 '1030058',
 '914156',
 '1339048',
 '0001095751',
 '864559',
 '0000847555',
 '0000802481',
 '0000812708',
 '865415',
 '0001134016',
 '0001384072',
 '0001623595',
 '1035267',
 '722392',
 '0001107332',
 '1488469',
 '0001079797',
 '1403431',
 '0000926229',
 '0001119664',
 '1278027',
 '0001434842',
 '0001109196',
 '0001441849',
 '915862',
 '0001046578',
 '1340786',
 '1277866',
 '0000928800',
 '789933',
 '1011060',
 '0001120830',
 '1316898',
 '1164099',
 '45012',
 '779544',
 '1138951',
 '1086745',
 '1350381',
 '895041',
 '909326',
 '0000052617',
 '1099066',
 '0000773937',
 '0001392477',
 '0000099321',
 '0001108730',
 '722723',
 '0001509589',
 '0001283810',
 '0001376118',
 '1385424',
 '890908',
 '0001088162',
 '1110607',
 '0001385543',
 '0001568079',
 '1078037',
 '0000764241',
 '1227930',
 '0000944725',
 '0001396838',
 '0001039184',
 '0000004515',
 '85408',
 '0000785968',
 '0001021010',
 '0000027960',
 '0001122380',
 '820097',
 '0000811696',
 '0000050957',
 '0001276476',
 '1324948',
 '1039889',
 '0001127342',
 '0000722839',
 '0001357361',
 '67215',
 '1346685',
 '1456453',
 '1318568',
 '0001357062',
 '1019671',
 '319126',
 '815097',
 '0001473061',
 '46250',
 '749872',
 '904978',
 '922717',
 '0000815508',
 '0001526796',
 '0001437073',
 '0001109153',
 '0001613011',
 '1052595',
 '1023459',
 '0001407805',
 '912061',
 '6769',
 '1441849',
 '855667',
 '0001397518',
 '0001329184',
 '0001001463',
 '25212',
 '1062478',
 '0001580185',
 '912513',
 '1452217',
 '0001586105',
 '0001054524',
 '0000026780',
 '0001508677',
 '0000216039',
 '0000352747',
 '877931',
 '0000826773',
 '743316',
 '1022671',
 '0001116112',
 '935066',
 '0000032878',
 '1123494',
 '1394029',
 '0001060791',
 '95521',
 '49826',
 '0000834408',
 '0001568832',
 '0001096132',
 '864233',
 '77476',
 '0001311486',
 '1565228',
 '941548',
 '1094084',
 '1103345',
 '896262',
 '0001175108',
 '0001390630',
 '4904',
 '1026662',
 '13573',
 '95052',
 '1302707',
 '717954',
 '1289790',
 '0000758743',
 '0000947425',
 '0001279831',
 '0001024109',
 '0000913015',
 '0001283552',
 '878079',
 '0001300744',
 '320345',
 '946454',
 '0001107978',
 '0000894503',
 '0000943605',
 '0000851199',
 '1343257',
 '946840',
 '0000357108',
 '0001268984',
 '0000933157',
 '1170650',
 '0001018099',
 '853816',
 '854775',
 '853695',
 '1090507',
 '0001091596',
 '0001314642',
 '5117',
 '895655',
 '13610',
 '0000723371',
 '936402',
 '0000096638',
 '0001325118',
 '0000038079',
 '0001043382',
 '1012019',
 '949039',
 '0001392147',
 '0001167880',
 '0001061985',
 '883907',
 '0000915354',
 '0000773603',
 '0000002178',
 '850483',
 '0001400323',
 '1002520',
 '46129',
 '1018871',
 '823094',
 '1394156',
 '1080667',
 '814453',
 '0000943322',
 '0001338095',
 '894081',
 '812906',
 '1271940',
 '0001063537',
 '812011',
 '0001364100',
 '0001035826',
 '1361658',
 '940510',
 '924373',
 '736822',
 '1130626',
 '923601',
 '1096199',
 '0001330487',
 '1043509',
 '0001127362',
 '0001175028',
 '0001397867',
 '0001375083',
 '0001022646',
 '932111',
 '0001126294',
 '0000096289',
 '1006459',
 '1028215',
 '1604778',
 '0000097052',
 '0001356505',
 '67347',
 '0001452476',
 '0001066281',
 '0000012570',
 '1020214',
 '352825',
 '0000753048',
 '915913',
 '907242',
 '1171014',
 '0001490636',
 '1019737',
 '0001065298',
 '0001013871',
 '0000350403',
 '0001074436',
 '0001023291',
 '350698',
 '1051488',
 '943184',
 '1090514',
 '318154',
 '0001064728',
 '1235468',
 '0000741815',
 '0000910655',
 '57055',
 '707388',
 '0000878731',
 '914329',
 '0001097181',
 '0000844985',
 '96793',
 '850579',
 '0001076770',
 '913614',
 '0001173313',
 '68709',
 '842023',
 '0000870398',
 '0001533924',
 '1158846',
 '0001157443',
 '943034',
 '1296205',
 '944400',
 '0000819551',
 '99359',
 '929008',
 '1032997',
 '0000925178',
 '1492658',
 '0001237941',
 '0001132590',
 '892553',
 '0001004969',
 '1027664',
 '0000318259',
 '928659',
 '917523',
 '0001082484',
 '0001362659',
 '0001399234',
 '866374',
 '825542',
 '0001360849',
 '1103719',
 '912875',
 '858877',
 '912752',
 '1378992',
 '1439636',
 '0001259550',
 '820237',
 '0000790414',
 '0001448064',
 '0000310316',
 '1368900',
 '1002822',
 '1017712',
 '0001132487',
 '0001239819',
 '1066684',
 '78749',
 '1108320',
 '820608',
 '0000320174',
 '789356',
 '853665',
 '1421289',
 '39648',
 '0001561551',
 '719209',
 '1048685',
 '0001133494',
 '1024478',
 '1084557',
 '1156388',
 '42284',
 '851205',
 '1101169',
 '936395',
 '0001400891',
 '0000878774',
 '922863',
 '1365101',
 '0001047739',
 '0000312065',
 '1036960',
 '1413898',
 '0001352045',
 '1157780',
 '96021',
 '702165',
 '0000855372',
 '25354',
 '1102750',
 '317477',
 '1108109',
 '813810',
 '1022097',
 '0001357174',
 '0001114605',
 '0000724742',
 '925660',
 '0001329068',
 '945489',
 '946936',
 '1091907',
 '1053008',
 '1068717',
 '1113306',
 '915778',
 '1321544',
 '0001392091',
 '1323974',
 '1183941',
 '913142',
 '944739',
 '1005229',
 '0001096560',
 '0000845879',
 '0001439600',
 '1387713',
 '1012100',
 '1057083',
 '813920',
 '825322',
 '0001374985',
 '0001076462',
 '0000944163',
 '926617',
 '0001406081',
 '1004673',
 '0001113668',
 '1362120',
 '1476170',
 '0001327012',
 '914398',
 '0001383960',
 '0001123606',
 '924829',
 '0001100202',
 '1292026',
 '1157762',
 '0001425053',
 '1010552',
 '310764',
 '775158',
 '0000353827',
 '0001334978',
 '1135338',
 '745732',
 '0001018005',
 '1083663',
 '1056358',
 '40888',
 '0000356830',
 '0000840256',
 '0001202963',
 '916365',
 '1299139',
 '25743',
 '1094007',
 '0001022974',
 '0001160294',
 '1419581',
 '91741',
 '101821',
 '0000316672',
 '0000818074',
 '921878',
 '0000906337',
 '936340',
 '0001404438',
 '0001253710',
 '1318484',
 '0001022080',
 '0000835540',
 '1029023',
 '0000278041',
 '1158041',
 '855372',
 '0001288946',
 '0001045425',
 '1066961',
 '21438',
 '0000843494',
 '850429',
 '0001098278',
 '65984',
 '1495479',
 '1037868',
 '0001102542',
 '1037038',
 '1318310',
 '2969',
 '0000073887',
 '1058299',
 '0001615817',
 '933974',
 '747540',
 '0001690769',
 '891293',
 '1317880',
 '0001289480',
 '850660',
 '0001436329',
 '875296',
 '0000866671',
 '0000889992',
 '0001166291',
 '1047335',
 '0001084103',
 '933454',
 '1158387',
 '920707',
 '0001309126',
 '0001135906',
 '1030192',
 '107140',
 '788329',
 '1066107',
 '813828',
 '0001490165',
 '0001310094',
 '842162',
 '46080',
 '1216596',
 '0000077159',
 '0001349120',
 '1515156',
 '0001236038',
 '1005214',
 '1022652',
 '1023731',
 '0000860131',
 '1172706',
 '99070',
 '0001167178',
 '0001173738',
 '874016',
 '39899',
 '1068084',
 '0001603923',
 '854709',
 '3116',
 '718877',
 '0001321099',
 '0001532543',
 '931336',
 '0000831246',
 '0000925464',
 '1029199',
 '1036292',
 '919013',
 '0000029806',
 '909832',
 '1212233',
 '0001157516',
 '0001582054',
 '353569',
 '0000103341',
 '0001034258',
 '0001735828',
 '1084991',
 '0001403853',
 '68145',
 '0000770944',
 '0001105055',
 '879465',
 '0001030339',
 '0001002178',
 '0001282648',
 '0001171012',
 '0001230355',
 '0001014653',
 '1388195',
 '0001031296',
 '0000825692',
 '1095565',
 '0001337885',
 '0001398650',
 '866729',
 '97745',
 '0000731859',
 '316206',
 '722104',
 '0000911801',
 '0001025707',
 '0001282543',
 '1071993',
 '1009379',
 '1489136',
 '0001062613',
 '1439288',
 '0000898660',
 '1037646',
 '0001166380',
 '1385544',
 '0001294250',
 '1113232',
 '2488',
 '1667966',
 '1013488',
 '95585',
 '0000852766',
 '1047857',
 '1041577',
 '1084031',
 '0000081050',
 '817720',
 '0001341853',
 '1070412',
 '730263',
 '2491',
 '1038541',
 '783412',
 '0001299716',
 '1116942',
 '0000023778',
 '1406574',
 '1020391',
 '1303849',
 '310568',
 '0001379905',
 '1030485',
 '932145',
 '0000076791',
 '1059677',
 '71557',
 '70318',
 '1043604',
 '0001028985',
 '0000797448',
 '49754',
 '1060426',
 '1325281',
 '927454',
 '0001405424',
 '0001452384',
 '889900',
 '23197',
 '0001363346',
 '949158',
 '0001138173',
 '0000940510',
 '0001096339',
 '0001107601',
 '1056794',
 '817129',
 '1003481',
 '0000019731',
 '0001014052',
 '0000778164',
 '1060390',
 '919722',
 '1418135',
 '29002',
 '1058027',
 '1267097',
 '0000744106',
 '0001377053',
 '0000878802',
 '56873',
 '916540',
 '1056386',
 '928054',
 '1040161',
 '95302',
 '0001341293',
 '70145',
 '918964',
 '0001145061',
 '0001058767',
 '0000357097',
 '0001042582',
 '105634',
 '0001048566',
 '0001323770',
 '1381531',
 '0000744962',
 '63814',
 '355777',
 '0001368147',
 '0000072911',
 '1007587',
 '0001355128',
 '880059',
 '809933',
 '0001210936',
 '0001270597',
 '0001575599',
 '0000054291',
 '1092807',
 '0001432987',
 '0000806624',
 '1425905',
 '1016281',
 '1043000',
 '1074436',
 '0001097081',
 '0000923529',
 '0000941020',
 '864240',
 '1022408',
 '919012',
 '943452',
 '854701',
 '0000947397',
 '0000314606',
 '929994',
 '0001396279',
 '949157',
 '0000821483',
 '1126113',
 '0000855109',
 '0001379763',
 '0001108951',
 '0000714756',
 '0001393861',
 '0001104161',
 '758938',
 '0001302502',
 '945641',
 '0000935493',
 '1088213',
 '0001368883',
 '1014507',
 '0000859735',
 '100625',
 '71691',
 '0001073429',
 '887497',
 '34088',
 '866830',
 '10048',
 '0001311230',
 '0000724571',
 '1288741',
 '929299',
 '0000352079',
 '0001081074',
 ...]

In [6]:
# drop non-quantitative columns
data_cl = data.drop(columns=['NAICS Industry Group Name', 'Delisted Quote Flag', 'Company Common Name',
                                    'CIK Number', 'Instrument Is Active Flag', 'Bankrupt'])
# check on the data shape
print(data_cl.shape)

data_cl.head()

(345740, 23)

,Instrument,Total Debt,Accounts Payable (CF),Inventories (CF),Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,Total Equity,Tangible Book Value - Banks,...,Cash and Short Term Investments,Market Value for Company,Tangible Book Value Per Share,Net Sales,Operating Income,Tangible Book Value - Utility,"Total Assets, Reported",Depreciation And Amortization,Total Current Liabilities,Year
0,910655,1866000.0,-235000.0,-9289000.0,49741000.0,-8580000.0,8.268900e+07,2.325000e+07,9.448900e+07,8.712400e+07,...,10446000.0,195540000.0,8.43993,3.603260e+08,40075000.0,8.712400e+07,1.177390e+08,413000.0,1.920900e+07,2000
1,1116521,10000000.0,-47000000.0,81000000.0,NaN,-184000000.0,3.043000e+09,2.422000e+09,1.817000e+09,1.556000e+09,...,194000000.0,NaN,5.59129,8.268000e+09,369000000.0,1.556000e+09,4.239000e+09,NaN,1.597000e+09,2000
2,895651,377000.0,NaN,289000.0,-18251000.0,-1483000.0,9.479000e+06,1.318600e+07,1.895900e+07,3.622000e+06,...,1860000.0,NaN,0.40670,5.497100e+07,-1056000.0,3.622000e+06,3.214500e+07,NaN,6.303000e+06,2000
3,1398702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
4,1434621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000

In [7]:
# drop the all companies but the ones in the CIK list
data_cl = data_cl[data_cl.Instrument.isin(CIK_list)]

print('Data df shape:', data_cl.shape, '\n')

print('If every thing is okay, then the number of unique CIK in semi-clean data,', len(data_cl.Instrument.unique()))

print()
print('Let\'s check:')
print(len(data_cl.Instrument.unique()))


data_cl.head()

Data df shape: (28800, 23)

If every thing is okay, then the number of unique CIK in semi-clean data, 1234

Let's check:
1234

,Instrument,Total Debt,Accounts Payable (CF),Inventories (CF),Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,Total Equity,Tangible Book Value - Banks,...,Cash and Short Term Investments,Market Value for Company,Tangible Book Value Per Share,Net Sales,Operating Income,Tangible Book Value - Utility,"Total Assets, Reported",Depreciation And Amortization,Total Current Liabilities,Year
15,1419428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
17,1402281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.300000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
18,1346685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.670000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
36,1080029,3814000.0,202000.0,NaN,-2606000.0,3814000.0,1.334000e+06,4.930000e+06,-1663000.0,-1663000.0,...,0.0,3.823900e+08,-0.26374,8.020000e+06,-2373000.0,-1663000.0,3.265000e+06,1084000.0,3885000.0,2000
45,940510,140400000.0,126500000.0,-140500000.0,36400000.0,97600000.0,1.133300e+09,1.051500e+09,715100000.0,609100000.0,...,42800000.0,1.217840e+09,7.83962,2.595000e+09,167300000.0,609100000.0,1.766600e+09,2900000.0,988800000.0,2000

In [ ]:
data.describe()

In [ ]:
data_cl.describe()

In [ ]:
# just checking...
data_cl.sort_values(by=['Instrument', 'Year'])

In [ ]:
# check the type of Instrument entries
print('Datatype of the Instrument column in our datafram:')
print(type(data_cl.Instrument[15]))
print('Datatype of the Year column in our datafram:')
print(type(data_cl.Year[15]))
print()

# check the type of CIK entries in the CIK dictionary
for key, value in CIK.items():
    print('Datatype of the CIK in our dictionary:')
    print(type(value[0]))
    print('Datatype of the Year in our dictionary:')
    print(type(key))
    break

In [ ]:
# iterate over the dictionary, and for each year concatanate 
# the corresponding five years for each company in the list
# to the final dataframe: datum.

# create an empty df with the data columns
datum = pd.DataFrame(columns=data_cl.columns)

# iterate over the dictionary
for key, value in CIK.items():
    # for each company (cik) in the list of the year (key)
    for cik in value:
        # take rows of the data for that cik code and the same year as key
        df = data_cl[(data_cl.Instrument == cik) & (data_cl.Year == str(key))]
        datum = pd.concat([datum, df])

print(datum.shape)
datum.head()

In [ ]:
# just checking...

print(datum.shape)

datum.sort_values(by=['Instrument', 'Year'])

In [ ]:
datum.drop_duplicates(inplace=True)

# checking for fishy duplicated rows
check_dup = datum.dropna()
check_dup = check_dup.groupby(['Instrument', 'Year']).count()

# check for duplicates
for col in check_dup.columns:
    print(check_dup[col].value_counts())
    print()

print(datum.shape)

So, pretty shitty!

In [ ]:
# write the datum as csv file
# and read it again, sorry!
# just that it's easier than to convert all factors to integer

datum.to_csv('datum.csv', index=False)
datum = pd.read_csv('datum.csv')

datum.head()

In [ ]:
# first check if we actually have all CIK in the dictionary
# and for all the required years

# for each year (key)
for key, value in CIK.items():
    # for each company (cik) in that year's list
    for cik in value:
        df = data_cl[(data_cl.Instrument == cik) & (data_cl.Year == str(key))]
        df.groupy()