In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
# inflation rate in North America
inflation = {
    2000: 3.048,
    2001: 2.676,
    2002: 1.922,
    2003: 2.514,
    2004: 2.267,
    2005: 2.803,
    2006: 2.614,
    2007: 2.496,
    2008: 3.105,
    2009: -.028,
    2010: 1.708,
    2011: 3.034,
    2012: 1.793,
    2013: 1.202,
    2014: 1.764,
    2015: 0.622,
    2016: 1.345,
    2017: 1.863,
    2018: 2.355,
}

In [14]:
with open('urgent_h.txt', 'rb') as f:
    healthy_cik = pickle.load(f)

with open('urgent_b.txt', 'rb') as f:
    bankrupt_cik = pickle.load(f)

data = pd.read_csv('/Users/user/Documents/Bankruptcy/bankruptcy/data/processed/data.csv')
data.head()

,CIK,Year,Total Debt,Accounts Payable (CF),Inventories (CF),Retained Earnings (Accumulated Deficit),Net Debt Incl. Pref.Stock & Min.Interest,Total Current Assets,Total Liabilities,Total Equity,...,d_focus,d_repurchase,d_service,d_goodwill,d_reset,d_expenditure,d_stress,d_exit,d_tranche,d_accordingly
0,1750,2003,0.000005,-0.025690,-0.041836,-0.997354,-0.998423,0.000015,0.000005,-0.998949,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1750,2004,0.000005,-0.025680,-0.041751,-0.997355,-0.998422,0.000014,0.000005,-0.998949,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1750,2005,0.000005,-0.025676,-0.041755,-0.997355,-0.998423,0.000015,0.000005,-0.998949,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1750,2006,0.000004,-0.025671,-0.041802,-0.997354,-0.998424,0.000017,0.000005,-0.998949,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1750,2007,0.000006,-0.025670,-0.041881,-0.997353,-0.998424,0.000022,0.000007,-0.998946,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
sample = 0
dataset_healthy = {}
problems_healthy = []

for key in healthy_cik:
    start = int(key[6:10])
    end =  int(key[11:15])
    years = list(range(start, end+1))
    ciks = healthy_cik[key]
    for cik in ciks:
        df = pd.DataFrame(columns=data.columns)
        for year in years:
            newrow = data[(data.CIK == cik) & (data.Year == year)]
            df = df.append(newrow, ignore_index=True)
        
        matrix = df.drop(columns=['CIK', 'Year','Bankrupt'])
            
        if matrix.shape[0] == 5:
            sample_dic = {}
            sample_dic['CIK'] = cik
            sample_dic['Period'] = key
            sample_dic['data'] = matrix.as_matrix()
            sample_dic['label'] = 0
            dataset_healthy[sample] = sample_dic
        else:
            problems_healthy.append([cik, df.Year.to_list(), key])
        sample += 1


with open('dataset_healthy.txt', 'wb') as f:
    pickle.dump(dataset_healthy, f)

with open('problems_healthy.txt', 'wb') as f:
    pickle.dump(problems_healthy, f)

/Users/user/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:22: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [62]:
sample = 0
dataset_bankrupt = {}
problems_bankrupt = []

for key in bankrupt_cik:
    start = int(key[6:10])
    end =  int(key[11:15])
    years = list(range(start, end+1))
    ciks = bankrupt_cik[key]
    for cik in ciks:
        df = pd.DataFrame(columns=data.columns)
        for year in years:
            newrow = data[(data.CIK == cik) & (data.Year == year)]
            df = df.append(newrow, ignore_index=True)
        
        matrix = df.drop(columns=['CIK', 'Year','Bankrupt'])
            
        if matrix.shape[0] == 5:
            sample_dic = {}
            sample_dic['CIK'] = cik
            sample_dic['Period'] = key
            sample_dic['data'] = matrix.as_matrix()
            sample_dic['label'] = 1
            dataset_bankrupt[sample] = sample_dic
        else:
            problems_bankrupt.append([cik, df.Year.to_list(), key])
        sample += 1

        
with open('dataset_bankrupt.txt', 'wb') as f:
    pickle.dump(dataset_bankrupt, f)

with open('problems_bankrupt.txt', 'wb') as f:
    pickle.dump(problems_bankrupt, f)

/Users/user/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:22: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [63]:
print(len(problems_bankrupt))
print(len(problems_healthy))

0
544

In [64]:
print(len(dataset_bankrupt))
print(len(dataset_healthy))

1055
4731