In [3]:
import eikon as ek  # the Eikon Python wrapper package
import numpy as np  # NumPy
import pandas as pd  # pandas
import cufflinks as cf  # Cufflinks
import configparser as cp

In [5]:
ek.__version__

'1.0.1'

In [6]:
np.__version__

'1.16.4'

In [7]:
pd.__version__

'0.24.1'

In [8]:
cf.__version__

'0.16'

## Connecting to Eikon Data API

This code sets the app_id to connect to the Eikon Data API Proxy which needs to be running locally. It requires the previously created text file eikon.cfg to be in the current working directory.

In [9]:
cfg = cp.ConfigParser()
cfg.read('eikon.cfg')  # adjust for different file location

['eikon.cfg']

In [10]:
ek.set_app_key(cfg['eikon']['app_id']) #set_app_id function being deprecated

## Retrieving Historical Data

As a test, consider the retrieval of historical end-of-day data for the Apple, Inc. stock.

In [28]:
testAAPLdata = ek.get_timeseries('AAPL.O',  # the RIC for Apple, Inc.
                         fields='*',  # all fields
                         start_date='2000-01-01',  # start date
                         end_date='2019-08-19')  # end date

In [24]:
testAAPLdata.tail()  # final five rows

AAPL.O          HIGH   CLOSE       LOW    OPEN     COUNT      VOLUME
Date
2019-08-12  202.0516  200.48  199.1500  199.62  181412.0  22481889.0
2019-08-13  212.1400  208.97  200.8300  201.02  377969.0  47539786.0
2019-08-14  206.4400  202.75  202.5869  203.16  292722.0  36547443.0
2019-08-15  205.1400  201.74  199.6700  203.46  246488.0  27883363.0
2019-08-16  207.1600  206.50  203.8400  204.28  221213.0  28813624.0

In [29]:
testAAPLdata.head()

AAPL.O           HIGH      CLOSE        LOW       OPEN  COUNT        VOLUME
Date
2007-09-18  20.407122  20.131408  19.689980  19.865694   -1.0  2.660223e+08
2007-09-19  20.451408  20.109966  19.914266  20.431408   -1.0  2.567201e+08
2007-09-20  20.255694  20.044266  19.902837  20.021409   -1.0  1.729599e+08
2007-09-21  20.664265  20.592837  20.044266  20.162837   -1.0  2.847198e+08
2007-09-24  21.407121  21.182836  20.949979  20.961408   -1.0  2.630403e+08

In [30]:
testAAPLdata.to_csv('testDataAPPL.csv')

## Test get_data Function

In [44]:
data_grid, err = ek.get_data(['IBM', 'GOOG.O', 'MSFT.O'],
                             ['TR.TotalReturnYTD', 'TR.WACCBeta', 'YRHIGH', 'YRLOW'])

In [45]:
data_grid

  Instrument  YTD Total Return      Beta    YRHIGH   YRLOW
0        IBM         21.879417  1.279859   154.360  105.94
1     GOOG.O         13.710760  0.996100  1289.270  970.11
2     MSFT.O         35.556317  1.217389   141.675   93.96

In [41]:
# read the list of bankrupt companies
bankrupt = pd.read_csv('bankrupt.csv')
bankruptList = bankrupt['Ticker'].tolist()

## Test the bankruptcy list companies data availability on eikon

In [46]:
testBR, err = ek.get_data(bankruptList, ['TR.TotalReturnYTD', 'TR.WACCBeta', 'YRHIGH', 'YRLOW'])

In [47]:
testBR

    Instrument  YTD Total Return  Beta  YRHIGH  YRLOW
0        3AMBE               NaN   NaN     NaN    NaN
1        FCHDQ               NaN   NaN     NaN    NaN
2        CNSTQ               NaN   NaN     NaN    NaN
3        ENERQ               NaN   NaN     NaN    NaN
4        FLTWQ               NaN   NaN     NaN    NaN
5         FFEX               NaN   NaN     NaN    NaN
6        GAPTQ               NaN   NaN     NaN    NaN
7        IBCIQ               NaN   NaN     NaN    NaN
8         KYC.               NaN   NaN     NaN    NaN
9        FGMGQ               NaN   NaN     NaN    NaN
10       PTFCQ               NaN   NaN     NaN    NaN
11       RONCQ               NaN   NaN     NaN    NaN
12       3SCRD               NaN   NaN     NaN    NaN
13       SRCTQ               NaN   NaN     NaN    NaN
14       ENCZQ               NaN   NaN     NaN    NaN
15        BBAO               NaN   NaN     NaN    NaN
16       CANRQ               NaN   NaN     NaN    NaN
17       GEOKQ               NaN   NaN     NaN    NaN
18       BMERQ               NaN   NaN     NaN    NaN
19       AXIHQ               NaN   NaN     NaN    NaN
20       NXXIQ               NaN   NaN     NaN    NaN
21       WATFZ               NaN   NaN     NaN    NaN
22       XIDEQ               NaN   NaN     NaN    NaN
23        NAMS               NaN   NaN     NaN    NaN
24       FFEDQ               NaN   NaN     NaN    NaN
25       BHODQ               NaN   NaN     NaN    NaN
26       FWMHQ               NaN   NaN     NaN    NaN
27       TELTQ               NaN   NaN     NaN    NaN
28       CORSQ               NaN   NaN     NaN    NaN
29       3HDTV               NaN   NaN     NaN    NaN
..         ...               ...   ...     ...    ...
82       MSNWQ               NaN   NaN     NaN    NaN
83       PNCLQ               NaN   NaN     NaN    NaN
84       ISGTQ               NaN   NaN     NaN    NaN
85       LUMCQ               NaN   NaN     NaN    NaN
86       MPCCQ               NaN   NaN     NaN    NaN
87       FRPPF               NaN   NaN     NaN    NaN
88       JRCCQ               NaN   NaN     NaN    NaN
89       PWB.3               NaN   NaN     NaN    NaN
90       ADALF               NaN   NaN     NaN    NaN
91       ANRZQ               NaN   NaN     NaN    NaN
92       3BOGA               NaN   NaN     NaN    NaN
93       TBSIQ               NaN   NaN     NaN    NaN
94       GLNHQ               NaN   NaN     NaN    NaN
95       ASCLF               NaN   NaN     NaN    NaN
96       TCMIQ               NaN   NaN     NaN    NaN
97       OSHWQ               NaN   NaN     NaN    NaN
98       KOMUF               NaN   NaN     NaN    NaN
99       MFGLQ               NaN   NaN     NaN    NaN
100      KIDSQ               NaN   NaN     NaN    NaN
101      BAXSQ               NaN   NaN     NaN    NaN
102      GIGIQ               NaN   NaN     NaN    NaN
103      GFGFQ               NaN   NaN     NaN    NaN
104      XRGYQ               NaN   NaN     NaN    NaN
105      UNTKQ               NaN   NaN     NaN    NaN
106      SMXIQ               NaN   NaN     NaN    NaN
107      LPRIQ               NaN   NaN     NaN    NaN
108      KIORQ               NaN   NaN     NaN    NaN
109      PEYTF               NaN   NaN     NaN    NaN
110      JHTXQ               NaN   NaN     NaN    NaN
111      DUNRQ               NaN   NaN     NaN    NaN

[112 rows x 5 columns]

## Test historical data availability for bankrupt data

In [50]:
errors = 0
for company in bankruptList:
    try:
        testdata = ek.get_timeseries(company,  # the RIC for Apple, Inc.
                             fields='*',  # all fields
                             start_date='2000-01-01',  # start date
                             end_date='2019-08-19')  # end date
    except:
            errors += 1


print(errors)

Error with 3AMBE: Invalid RIC
3AMBE: Invalid RIC |
Error with FCHDQ: Invalid RIC
FCHDQ: Invalid RIC |
Error with CNSTQ: Invalid RIC
CNSTQ: Invalid RIC |
Error with ENERQ: Invalid RIC
ENERQ: Invalid RIC |
Error with FLTWQ: Invalid RIC
FLTWQ: Invalid RIC |
Error with FFEX: Invalid RIC
FFEX: Invalid RIC |
Error with GAPTQ: Invalid RIC
GAPTQ: Invalid RIC |
Error with IBCIQ: Invalid RIC
IBCIQ: Invalid RIC |
Error with KYC.: Invalid RIC
KYC.: Invalid RIC |
Error with FGMGQ: Invalid RIC
FGMGQ: Invalid RIC |
Error with PTFCQ: Invalid RIC
PTFCQ: Invalid RIC |
Error with RONCQ: Invalid RIC
RONCQ: Invalid RIC |
Error with 3SCRD: Invalid RIC
3SCRD: Invalid RIC |
Error with SRCTQ: Invalid RIC
SRCTQ: Invalid RIC |
Error with ENCZQ: Invalid RIC
ENCZQ: Invalid RIC |
Error with BBAO: Invalid RIC
BBAO: Invalid RIC |
Error with CANRQ: Invalid RIC
CANRQ: Invalid RIC |
Error with GEOKQ: Invalid RIC
GEOKQ: Invalid RIC |
Error with BMERQ: Invalid RIC
BMERQ: Invalid RIC |
Error with AXIHQ: Invalid RIC
AXIHQ: Invalid RIC |
Error with NXXIQ: Invalid RIC
NXXIQ: Invalid RIC |
Error with WATFZ: Invalid RIC
WATFZ: Invalid RIC |
Error with XIDEQ: Invalid RIC
XIDEQ: Invalid RIC |
Error with NAMS: Invalid RIC
NAMS: Invalid RIC |
Error with FFEDQ: Invalid RIC
FFEDQ: Invalid RIC |
Error with BHODQ: Invalid RIC
BHODQ: Invalid RIC |
Error with FWMHQ: Invalid RIC
FWMHQ: Invalid RIC |
Error with TELTQ: Invalid RIC
TELTQ: Invalid RIC |
Error with CORSQ: Invalid RIC
CORSQ: Invalid RIC |
Error with 3HDTV: Invalid RIC
3HDTV: Invalid RIC |
Error with LFGRQ: Invalid RIC
LFGRQ: Invalid RIC |
Error with CSARQ: Invalid RIC
CSARQ: Invalid RIC |
Error with VRSOQ: Invalid RIC
VRSOQ: Invalid RIC |
Error with HAYZQ: Invalid RIC
HAYZQ: Invalid RIC |
Error with THMRQ: Invalid RIC
THMRQ: Invalid RIC |
Error with EGLSQ: Invalid RIC
EGLSQ: Invalid RIC |
Error with NRVHQ: Invalid RIC
NRVHQ: Invalid RIC |
Error with MCTIQ: Invalid RIC
MCTIQ: Invalid RIC |
Error with LNETQ: Invalid RIC
LNETQ: Invalid RIC |
Error with ISOOQ: Invalid RIC
ISOOQ: Invalid RIC |
Error with MVGRQ: Invalid RIC
MVGRQ: Invalid RIC |
Error with AWBCQ: Invalid RIC
AWBCQ: Invalid RIC |
Error with TRMPQ: Invalid RIC
TRMPQ: Invalid RIC |
Error with PHHMQ: Invalid RIC
PHHMQ: Invalid RIC |
Error with MBHIQ: Invalid RIC
MBHIQ: Invalid RIC |
Error with AOGSQ: Invalid RIC
AOGSQ: Invalid RIC |
Error with PFFBQ: Invalid RIC
PFFBQ: Invalid RIC |
Error with TRMAQ: Invalid RIC
TRMAQ: Invalid RIC |
Error with HAEFQ: Invalid RIC
HAEFQ: Invalid RIC |
Error with DRRAQ: Invalid RIC
DRRAQ: Invalid RIC |
Error with KHKH: Invalid RIC
KHKH: Invalid RIC |
Error with MWYGQ: Invalid RIC
MWYGQ: Invalid RIC |
Error with KCA.: Invalid RIC
KCA.: Invalid RIC |
Error with CWTRQ: Invalid RIC
CWTRQ: Invalid RIC |
Error with 3DENT: Invalid RIC
3DENT: Invalid RIC |
Error with TRBRQ: Invalid RIC
TRBRQ: Invalid RIC |
Error with NOBLQ: Invalid RIC
NOBLQ: Invalid RIC |
Error with CFW: Invalid RIC
CFW: Invalid RIC |
Error with 3NCEY: Invalid RIC
3NCEY: Invalid RIC |
Error with TOUSQ: Invalid RIC
TOUSQ: Invalid RIC |
Error with CFG.2: Invalid RIC
CFG.2: Invalid RIC |
Error with LMN.: Invalid RIC
LMN.: Invalid RIC |
Error with CYN.: Invalid RIC
CYN.: Invalid RIC |
Error with PFE.2: Invalid RIC
PFE.2: Invalid RIC |
Error with DXMMQ: Invalid RIC
DXMMQ: Invalid RIC |
Error with HORTQ: Invalid RIC
HORTQ: Invalid RIC |
Error with PDRT: Invalid RIC
PDRT: Invalid RIC |
Error with COCOQ: Invalid RIC
COCOQ: Invalid RIC |
Error with KWKAQ: Invalid RIC
KWKAQ: Invalid RIC |
Error with CDCAQ: Invalid RIC
CDCAQ: Invalid RIC |
Error with CBNRQ: Invalid RIC
CBNRQ: Invalid RIC |
Error with MESFF: Invalid RIC
MESFF: Invalid RIC |
Error with GLDUQ: Invalid RIC
GLDUQ: Invalid RIC |
Error with JLIC: Invalid RIC
JLIC: Invalid RIC |
Error with GORXQ: Invalid RIC
GORXQ: Invalid RIC |
Error with KITDQ: Invalid RIC
KITDQ: Invalid RIC |
Error with REVUQ: Invalid RIC
REVUQ: Invalid RIC |
Error with HTHO: Invalid RIC
HTHO: Invalid RIC |
Error with TMYEQ: Invalid RIC
TMYEQ: Invalid RIC |
Error with 0769B: Invalid RIC
0769B: Invalid RIC |
Error with HIPPQ: Invalid RIC
HIPPQ: Invalid RIC |
Error with MSNWQ: Invalid RIC
MSNWQ: Invalid RIC |
Error with PNCLQ: Invalid RIC
PNCLQ: Invalid RIC |
Error with ISGTQ: Invalid RIC
ISGTQ: Invalid RIC |
Error with LUMCQ: Invalid RIC
LUMCQ: Invalid RIC |
Error with MPCCQ: Invalid RIC
MPCCQ: Invalid RIC |
Error with FRPPF: Invalid RIC
FRPPF: Invalid RIC |
Error with JRCCQ: Invalid RIC
JRCCQ: Invalid RIC |
Error with PWB.3: Invalid RIC
PWB.3: Invalid RIC |
Error with ADALF: Invalid RIC
ADALF: Invalid RIC |
Error with ANRZQ: Invalid RIC
ANRZQ: Invalid RIC |
Error with 3BOGA: Invalid RIC
3BOGA: Invalid RIC |
Error with TBSIQ: Invalid RIC
TBSIQ: Invalid RIC |
Error with GLNHQ: Invalid RIC
GLNHQ: Invalid RIC |
Error with ASCLF: Invalid RIC
ASCLF: Invalid RIC |
Error with TCMIQ: Invalid RIC
TCMIQ: Invalid RIC |
Error with OSHWQ: Invalid RIC
OSHWQ: Invalid RIC |
Error with KOMUF: Invalid RIC
KOMUF: Invalid RIC |
Error with MFGLQ: Invalid RIC
MFGLQ: Invalid RIC |
Error with KIDSQ: Invalid RIC
KIDSQ: Invalid RIC |
Error with BAXSQ: Invalid RIC
BAXSQ: Invalid RIC |
Error with GIGIQ: Invalid RIC
GIGIQ: Invalid RIC |
Error with GFGFQ: Invalid RIC
GFGFQ: Invalid RIC |
Error with XRGYQ: Invalid RIC
XRGYQ: Invalid RIC |
Error with UNTKQ: Invalid RIC
UNTKQ: Invalid RIC |
Error with SMXIQ: Invalid RIC
SMXIQ: Invalid RIC |
Error with LPRIQ: Invalid RIC
LPRIQ: Invalid RIC |
Error with KIORQ: Invalid RIC
KIORQ: Invalid RIC |
Error with PEYTF: Invalid RIC
PEYTF: Invalid RIC |
Error with JHTXQ: Invalid RIC
JHTXQ: Invalid RIC |
Error with DUNRQ: Invalid RIC
DUNRQ: Invalid RIC |

111

In [51]:
testdata = ek.get_timeseries('ARA.Z',  # the RIC for Apple, Inc.
                             fields='*',  # all fields
                             start_date='2000-01-01',  # start date
                             end_date='2019-08-19')  # end date

In [52]:
testdata

ARA.Z         HIGH   CLOSE    LOW    OPEN   COUNT    VOLUME
Date
2016-04-21  27.400  26.580  26.00  26.590  1640.0  201518.0
2016-04-22  27.190  27.020  26.38  26.810   107.0   13653.0
2016-04-25  26.980  26.900  26.70  26.780    21.0    2150.0
2016-04-26  28.150  28.070  27.28  27.280    44.0    5148.0
2016-04-27  28.950  27.510  27.34  28.950    62.0    7508.0
2016-04-28  27.900  27.500  27.39  27.900    42.0    8224.0
2016-04-29  28.290  28.100  27.19  27.190    18.0    2522.0
2016-05-02  28.020  27.760  27.68  27.950    18.0    1865.0
2016-05-03  27.530  27.530  27.45  27.450    28.0    4200.0
2016-05-04  27.940  27.800  27.48  27.625    15.0    1500.0
2016-05-05  27.910  27.550  27.55  27.650    19.0    2862.0
2016-05-06  27.770  27.410  27.05  27.650    66.0    9098.0
2016-05-09  28.640  27.470  27.07  27.070    95.0   13197.0
2016-05-10  27.800  27.500  27.50  27.800     7.0     511.0
2016-05-11  27.980  27.950  27.79  27.790     4.0     400.0
2016-05-12  27.890  27.350  27.22  27.890    39.0    2588.0
2016-05-13  28.050  27.670  27.27  27.680    86.0    9274.0
2016-05-16  28.230  28.230  27.48  27.610    70.0    9390.0
2016-05-17  27.980  27.650  27.31  27.920   102.0   11761.0
2016-05-18  27.600  27.500  27.50  27.545    43.0    5790.0
2016-05-19  27.770  27.720  27.20  27.350    50.0    4726.0
2016-05-20  27.710  27.690  27.53  27.620    13.0    1381.0
2016-05-23  27.550  27.455  27.34  27.500   107.0   13082.0
2016-05-24  27.460  27.460  27.21  27.230    91.0   10166.0
2016-05-25  27.350  27.000  26.96  27.250    44.0    4170.0
2016-05-26  27.280  27.250  27.20  27.250    25.0    2406.0
2016-05-27  27.200  27.160  27.01  27.030    22.0    2498.0
2016-05-31  28.030  28.030  27.23  27.240    22.0    2387.0
2016-06-01  28.350  28.040  27.78  27.950    26.0    2151.0
2016-06-02  28.450  28.250  28.00  28.100    80.0    9398.0
...            ...     ...    ...     ...     ...       ...
2019-07-08   7.500   7.460   7.27   7.280    86.0    9629.0
2019-07-09   7.345   6.760   6.75   7.345   267.0   27334.0
2019-07-10   6.860   6.755   6.61   6.700   320.0   18776.0
2019-07-11   6.970   6.910   6.81   6.850   132.0   10793.0
2019-07-12   7.170   7.090   6.71   6.960    89.0    8371.0
2019-07-15   7.230   7.020   6.95   7.230   130.0   10345.0
2019-07-16   7.150   7.040   6.97   6.970   126.0    6395.0
2019-07-17   7.230   7.120   7.04   7.040    80.0    6607.0
2019-07-18   7.250   7.220   7.05   7.080    56.0    4501.0
2019-07-19   7.160   7.080   7.08   7.140    56.0    2791.0
2019-07-22   7.000   6.810   6.80   7.000    62.0    4055.0
2019-07-23   6.910   6.860   6.76   6.760   115.0    8437.0
2019-07-24   7.280   7.220   6.92   6.940   110.0    8454.0
2019-07-25   7.360   7.270   7.17   7.350   181.0    5214.0
2019-07-26   8.190   8.070   7.59   7.630   131.0   13513.0
2019-07-29   8.070   7.780   7.74   7.980   117.0    9512.0
2019-07-30   8.140   7.970   7.80   7.800    67.0    6434.0
2019-07-31   8.220   7.730   7.69   8.220    59.0    4600.0
2019-08-01   7.750   7.400   7.37   7.710    84.0    6837.0
2019-08-02   7.420   7.240   7.13   7.380    49.0    4505.0
2019-08-05   7.060   6.990   6.91   6.970    58.0    4450.0
2019-08-06   7.060   7.060   6.79   7.060    80.0    6860.0
2019-08-07   7.070   7.040   6.79   6.910    71.0    5587.0
2019-08-08   7.190   7.150   7.10   7.100    52.0    3798.0
2019-08-09   7.290   6.890   6.86   7.040   196.0   17963.0
2019-08-12   6.915   6.830   6.82   6.850    92.0    7558.0
2019-08-13   7.285   7.220   6.97   6.970   138.0    6094.0
2019-08-14   7.110   6.940   6.87   7.110    62.0    5210.0
2019-08-15   7.000   6.930   6.80   6.810    60.0    5619.0
2019-08-16   7.150   7.150   6.98   7.130   103.0    6804.0

[837 rows x 6 columns]

In [56]:
test1 = ek.get_timeseries('AMAT',  # the RIC for Apple, Inc.
                             fields='*',  # all fields
                             start_date='2000-01-01',  # start date
                             end_date='2019-08-19')  # end date

Error with AMAT: Invalid RIC
AMAT: Invalid RIC |

EikonError: Error code -1 | AMAT: Invalid RIC |

In [ ]:
test1.head()