In [2]:
import pickle
import numpy as np
import pandas as pd

In [3]:
# reading the pickled dataframes
with open('ConvertedPcklFiles/bankrupt_ISIN2RIC.txt', 'rb') as fp:
    bankrupt_ISIN2RIC = pickle.load(fp)

with open('ConvertedPcklFiles/bankrupt_RIC2ISIN.txt', 'rb') as fp:
    bankrupt_RIC2ISIN = pickle.load(fp)

with open('ConvertedPcklFiles/healthy_ISIN2RIC.txt', 'rb') as fp:
    healthy_ISIN2RIC = pickle.load(fp)

with open('ConvertedPcklFiles/healthy_RIC2ISIN.txt', 'rb') as fp:
    healthy_RIC2ISIN = pickle.load(fp)
    
# trim the dataframe
bankrupt_ISIN2RIC.reset_index(level=0, inplace=True)
bankrupt_ISIN2RIC.rename(columns={'index':'ISIN', 'RIC':'RIC_ek'}, inplace=True)
bankrupt_ISIN2RIC.drop(['error'], axis=1, inplace=True)

bankrupt_RIC2ISIN.reset_index(inplace=True)
bankrupt_RIC2ISIN.rename(columns={'index':'RIC', 'ISIN':'ISIN_ek'}, inplace=True)

healthy_ISIN2RIC.reset_index(inplace=True)
healthy_ISIN2RIC.rename(columns={'index':'ISIN', 'RIC':'RIC_ek'}, inplace=True)
healthy_ISIN2RIC.drop(['error'], axis=1, inplace=True)

healthy_RIC2ISIN.reset_index(inplace=True)
healthy_RIC2ISIN.rename(columns={'index':'RIC', 'ISIN':'ISIN_ek'}, inplace=True)
healthy_RIC2ISIN.drop(['error'], axis=1, inplace=True)

In [4]:
# have a peak at the dataframes
print(bankrupt_ISIN2RIC.head())
print()
print(bankrupt_RIC2ISIN.head())
print()
print(healthy_ISIN2RIC.head())
print()
print(healthy_RIC2ISIN.head())

           ISIN RIC_ek
0  US0231842032    NaN
1  US3036981047    NaN
2  US21036U2069    NaN
3  US2926591098    NaN
4  US3390991038    NaN

            RIC       ISIN_ek
0  FCHDQ.PK^K11  US3036981047
1  ENERQ.PK^I12  US2926591098
2  FLTWQ.PK^H10  US3390991038
3  GAPTQ.PK^C12  US3900641032
4  IBCIQ.PK^B09  US46072H1086

           ISIN   RIC_ek
0  US0003611052      AIR
1  US0008863096      NaN
2  US0010582056  IWKS.PK
3  US0208131013      NaN
4  US02376R1023    AAL.O

             RIC       ISIN_ek
0            AIR  US0003611052
1        IWKS.PK  US0010582056
2  AAL.O - AAL.Z           NaN
3         CECE.O  US1251411013
4            ASA  BMG3156P1032

In [5]:
# read the bankrupt and healthy dataframe from previous conversion

# set the path
# path = 'D:\\studyproject\\bankruptcy\\data\\Eikon\\Identifiers_Mapping' + \
#         '\\1.CUSIP-to-ISIN\\'  # for win
path = '/Users/user/Documents/Bankruptcy/bankruptcy/data/Eikon/'  + \
       'Identifiers_Mapping/1.CUSIP-to-ISIN/' # for mac

# the files that should be read
# bankrupt = pd.read_csv(path + '1.bankrupt_listv2.csv', dtype=object, index_col=[0])
# healthy = pd.read_csv(path + '1.healthy_listv2.csv', dtype=object, index_col=[0])
# the test files
bankrupt = pd.read_csv(path + '1.bankrupt_list.csv', dtype=object, index_col=[0])
healthy = pd.read_csv(path + '1.healthy_list.csv', dtype=object, index_col=[0])


bankrupt.head()

,Company,Data Deletion Date,Deletion Reason,Ticker,CUSIP,CIK,ISIN,ISINc,RIC,RICc,Country
Identifier,,,,,,,,,,,
1367,Amber Resources Company of C,08/31/2012,2.0,3AMBE,023184203,0000276750,US0231842032,0,NaN,0,US
2033,Fairchild Corp. (The),11/01/2011,2.0,FCHDQ,303698104,0000009779,US3036981047,0,FCHDQ.PK^K11,1,US
4049,Constar International Inc,06/01/2011,2.0,CNSTQ,21036U206,0000029806,US21036U2069,0,NaN,0,US
4352,Energy Conversion Devices In,09/04/2012,2.0,ENERQ,292659109,0000032878,US2926591098,0,ENERQ.PK^I12,1,US
4768,Fleetwood Enterprises Inc.,08/23/2010,2.0,FLTWQ,339099103,0000314132,US3390991038,0,FLTWQ.PK^H10,1,US

In [6]:
healthy.head()

,Company,Data Deletion Date,Deletion Reason,Ticker,CUSIP,CIK,ISIN,ISINc,RIC,RICc,Country
Identifier,,,,,,,,,,,
1004,AAR Corp,.,NaN,AIR,000361105,0000001750,US0003611052,0,AIR,0,US
1013,ADC Telecommunications Inc.,12/10/2010,1.0,ADCT,000886309,0000061478,US0008863096,0,NaN,0,US
1021,AFP Imaging Corp,09/15/2014,7.0,IWKS,001058205,0000319126,US0010582056,0,IWKS.PK,1,US
1034,Alpharma Inc.,12/31/2008,1.0,ALO.2,020813101,0000730469,US0208131013,0,NaN,0,US
1045,American Airlines Group Inc,.,NaN,AAL,02376R102,0000006201,US02376R1023,0,AAL.O - AAL.Z,3,US

In [7]:
# first extract two final dataframes from
# bankupt and healthy dataframes that only includes
# companies with one and only one ISIN, this way the
# RIC is taken care of, cause there's no company wit
# RIC missing ISIN, anyway...

# exclude NANs
bankrupt_ek = bankrupt[bankrupt['ISIN'] == bankrupt['ISIN']]
healthy_ek = healthy[healthy['ISIN'] == healthy['ISIN']]

# exclude double-ISINs
bankrupt_ek = bankrupt_ek[~bankrupt_ek.ISIN.str.contains(' - ')]
healthy_ek = healthy_ek[~healthy_ek.ISIN.str.contains(' - ')]

print(bankrupt_ek.count())
bankrupt_ek.head()

Company               105
Data Deletion Date    105
Deletion Reason       105
Ticker                105
CUSIP                 105
CIK                    93
ISIN                  105
ISINc                 105
RIC                    57
RICc                  105
Country               105
dtype: int64

,Company,Data Deletion Date,Deletion Reason,Ticker,CUSIP,CIK,ISIN,ISINc,RIC,RICc,Country
Identifier,,,,,,,,,,,
1367,Amber Resources Company of C,08/31/2012,2.0,3AMBE,023184203,0000276750,US0231842032,0,NaN,0,US
2033,Fairchild Corp. (The),11/01/2011,2.0,FCHDQ,303698104,0000009779,US3036981047,0,FCHDQ.PK^K11,1,US
4049,Constar International Inc,06/01/2011,2.0,CNSTQ,21036U206,0000029806,US21036U2069,0,NaN,0,US
4352,Energy Conversion Devices In,09/04/2012,2.0,ENERQ,292659109,0000032878,US2926591098,0,ENERQ.PK^I12,1,US
4768,Fleetwood Enterprises Inc.,08/23/2010,2.0,FLTWQ,339099103,0000314132,US3390991038,0,FLTWQ.PK^H10,1,US

In [8]:
print(healthy_ek.count())
healthy_ek.head()

Company               19158
Data Deletion Date    19158
Deletion Reason        7780
Ticker                19154
CUSIP                 19158
CIK                   13462
ISIN                  19158
ISINc                 19158
RIC                    9945
RICc                  19158
Country               18573
dtype: int64

,Company,Data Deletion Date,Deletion Reason,Ticker,CUSIP,CIK,ISIN,ISINc,RIC,RICc,Country
Identifier,,,,,,,,,,,
1004,AAR Corp,.,NaN,AIR,000361105,0000001750,US0003611052,0,AIR,0,US
1013,ADC Telecommunications Inc.,12/10/2010,1.0,ADCT,000886309,0000061478,US0008863096,0,NaN,0,US
1021,AFP Imaging Corp,09/15/2014,7.0,IWKS,001058205,0000319126,US0010582056,0,IWKS.PK,1,US
1034,Alpharma Inc.,12/31/2008,1.0,ALO.2,020813101,0000730469,US0208131013,0,NaN,0,US
1045,American Airlines Group Inc,.,NaN,AAL,02376R102,0000006201,US02376R1023,0,AAL.O - AAL.Z,3,US

In [9]:
# now simply merging the bankrupt and healthy dataframes
# with the ISIN-to-RIC dataframes
bankrupt_ek = bankrupt_ek.merge(bankrupt_ISIN2RIC, on=['ISIN'], how='left')
healthy_ek = healthy_ek.merge(healthy_ISIN2RIC, on=['ISIN'], how='left')

# change the position of newly added column for convenience
bankrupt_ek = bankrupt_ek[['Company','Data Deletion Date','Deletion Reason','Ticker',
                           'CUSIP', 'CIK', 'ISIN', 'ISINc', 'RIC', 'RIC_ek', 'RICc', 'Country']]
healthy_ek = healthy_ek[['Company','Data Deletion Date','Deletion Reason','Ticker',
                           'CUSIP', 'CIK', 'ISIN', 'ISINc', 'RIC', 'RIC_ek', 'RICc', 'Country']]


# Drop duplicate rowa resulted from the merge method
bankrupt_ek = bankrupt_ek.drop_duplicates(subset=None, keep='first', inplace=False)
healthy_ek = healthy_ek.drop_duplicates(subset=None, keep='first', inplace=False)

In [10]:
print(bankrupt_ek.count())
bankrupt_ek.head()

Company               105
Data Deletion Date    105
Deletion Reason       105
Ticker                105
CUSIP                 105
CIK                    93
ISIN                  105
ISINc                 105
RIC                    57
RIC_ek                  6
RICc                  105
Country               105
dtype: int64

,Company,Data Deletion Date,Deletion Reason,Ticker,CUSIP,CIK,ISIN,ISINc,RIC,RIC_ek,RICc,Country
0,Amber Resources Company of C,08/31/2012,2.0,3AMBE,023184203,0000276750,US0231842032,0,NaN,NaN,0,US
1,Fairchild Corp. (The),11/01/2011,2.0,FCHDQ,303698104,0000009779,US3036981047,0,FCHDQ.PK^K11,NaN,1,US
2,Constar International Inc,06/01/2011,2.0,CNSTQ,21036U206,0000029806,US21036U2069,0,NaN,NaN,0,US
3,Energy Conversion Devices In,09/04/2012,2.0,ENERQ,292659109,0000032878,US2926591098,0,ENERQ.PK^I12,NaN,1,US
4,Fleetwood Enterprises Inc.,08/23/2010,2.0,FLTWQ,339099103,0000314132,US3390991038,0,FLTWQ.PK^H10,NaN,1,US

In [11]:
print(healthy_ek.count())
healthy_ek.head()

Company               19158
Data Deletion Date    19158
Deletion Reason        7780
Ticker                19154
CUSIP                 19158
CIK                   13462
ISIN                  19158
ISINc                 19158
RIC                    9945
RIC_ek                 8551
RICc                  19158
Country               18573
dtype: int64

,Company,Data Deletion Date,Deletion Reason,Ticker,CUSIP,CIK,ISIN,ISINc,RIC,RIC_ek,RICc,Country
0,AAR Corp,.,NaN,AIR,000361105,0000001750,US0003611052,0,AIR,AIR,0,US
1,ADC Telecommunications Inc.,12/10/2010,1.0,ADCT,000886309,0000061478,US0008863096,0,NaN,NaN,0,US
2,AFP Imaging Corp,09/15/2014,7.0,IWKS,001058205,0000319126,US0010582056,0,IWKS.PK,IWKS.PK,1,US
3,Alpharma Inc.,12/31/2008,1.0,ALO.2,020813101,0000730469,US0208131013,0,NaN,NaN,0,US
4,American Airlines Group Inc,.,NaN,AAL,02376R102,0000006201,US02376R1023,0,AAL.O - AAL.Z,AAL.O,3,US

In [12]:
# save the final shit
bankrupt_ek.to_csv('2.bankrupt_list.csv', index=False)
healthy_ek.to_csv('2.healthy_list.csv', index=False)