In [32]:
import pickle
import numpy as np
import pandas as pd

In [3]:
# reading the pickled dataframes
with open('ConvertedPcklFiles/bankrupt_ISIN2RIC.txt', 'rb') as fp:
    bankrupt_ISIN2RIC = pickle.load(fp)

with open('ConvertedPcklFiles/bankrupt_RIC2ISIN.txt', 'rb') as fp:
    bankrupt_RIC2ISIN = pickle.load(fp)

with open('ConvertedPcklFiles/healthy_ISIN2RIC.txt', 'rb') as fp:
    healthy_ISIN2RIC = pickle.load(fp)

with open('ConvertedPcklFiles/healthy_RIC2ISIN.txt', 'rb') as fp:
    healthy_RIC2ISIN = pickle.load(fp)

In [6]:
# have a peak at the dataframes
print(bankrupt_ISIN2RIC.head())
print()
print(bankrupt_RIC2ISIN.head())
print()
print(healthy_ISIN2RIC.head())
print()
print(healthy_RIC2ISIN.head())

              RIC                    error
US0231842032  NaN  No best match available
US3036981047  NaN  No best match available
US21036U2069  NaN  No best match available
US2926591098  NaN  No best match available
US3390991038  NaN  No best match available

                      ISIN
FCHDQ.PK^K11  US3036981047
ENERQ.PK^I12  US2926591098
FLTWQ.PK^H10  US3390991038
GAPTQ.PK^C12  US3900641032
IBCIQ.PK^B09  US46072H1086

                  RIC                    error
US0003611052      AIR                      NaN
US0008863096      NaN  No best match available
US0010582056  IWKS.PK                      NaN
US0208131013      NaN  No best match available
US02376R1023    AAL.O                      NaN

                 ISIN error
AIR      US0003611052   NaN
IWKS.PK  US0010582056   NaN
CECE.O   US1251411013   NaN
ASA      BMG3156P1032   NaN
AVX      US0024441075   NaN

In [59]:
print(bankrupt_ISIN2RIC.RIC.to_list())

[nan, nan, nan, nan, nan, nan, nan, nan, 'KYC.QAD^I02', nan, nan, nan, 'SCRD.PK^H09', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'NL0013673908.PA', nan, nan, nan, 'ISGTQ.PK^C11', nan, nan, 'FPS.TO^G09', nan, nan, nan, nan, 'BOGAQ.OB^J09', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'PLT_u.TO^L15', nan, nan]

In [62]:
healthy_ISIN2RIC.RIC.count()

9759

In [52]:
# read the bankrupt and healthy dataframe from previous conversion

# set the path
path = 'D:\\studyproject\\bankruptcy\\data\\Eikon\\Identifiers_Mapping' + \
         '\\0.Ticker_CUSIP-to-ISIN_RIC\\'  # for win

bankrupt = pd.read_csv(path + '0.bankrupt_list.csv', dtype=object, index_col=[0])
healthy = pd.read_csv(path + '0.healthy_list.csv', dtype=object, index_col=[0])

bankrupt.head()

,Identifier,Company,Data Deletion Date,Deletion Reason,Ticker,CUSIP,CIK,ISIN,ISINc,RIC,RICc
0,001367,Amber Resources Company of C,08/31/2012,2.0,3AMBE,023184203,0000276750,US0231842032,1,NaN,0
1,002033,Fairchild Corp. (The),11/01/2011,2.0,FCHDQ,303698104,0000009779,US3036981047,0,FCHDQ.PK^K11,1
2,004049,Constar International Inc,06/01/2011,2.0,CNSTQ,21036U206,0000029806,US21036U2069,1,NaN,0
3,004352,Energy Conversion Devices In,09/04/2012,2.0,ENERQ,292659109,0000032878,US2926591098,0,ENERQ.PK^I12,1
4,004768,Fleetwood Enterprises Inc.,08/23/2010,2.0,FLTWQ,339099103,0000314132,US3390991038,0,FLTWQ.PK^H10,1

In [53]:
healthy.head()

,Identifier,Company,Data Deletion Date,Deletion Reason,Ticker,CUSIP,CIK,ISIN,ISINc,RIC,RICc
0,001004,AAR Corp,.,NaN,AIR,000361105,0000001750,US0003611052,0,AIR,0
1,001013,ADC Telecommunications Inc.,12/10/2010,1.0,ADCT,000886309,0000061478,US0008863096,1,NaN,0
2,001021,AFP Imaging Corp,09/15/2014,7.0,IWKS,001058205,0000319126,US0010582056,0,IWKS.PK,1
3,001034,Alpharma Inc.,12/31/2008,1.0,ALO.2,020813101,0000730469,US0208131013,1,NaN,0
4,001045,American Airlines Group Inc,.,NaN,AAL,02376R102,0000006201,US02376R1023,0,AAL.O - AAL.Z,3

In [54]:
#print(len(healthy.Identifier))
#print(len(set(healthy.Identifier.to_list())))

duplicateRs = healthy[healthy.duplicated()]
print(duplicateRs.head())

#healthy = healthy.duplicated(subset=None, keep='first')

#print(len(healthy.Identifier))
#print(len(set(healthy.Identifier.to_list())))

healthy.head()

    Identifier                       Company Data Deletion Date  \
395     003226                  Comcast Corp                  .
396     003226                  Comcast Corp                  .
397     003226                  Comcast Corp                  .
581     004372  Engineered Support Systems I         02/01/2006
582     004372  Engineered Support Systems I         02/01/2006

    Deletion Reason Ticker      CUSIP         CIK          ISIN ISINc  \
395             NaN  CMCSA  20030N101  0001166691  US20030N1019     0
396             NaN  CMCSA  20030N101  0001166691  US20030N1019     0
397             NaN  CMCSA  20030N101  0001166691  US20030N1019     0
581             1.0  EASI.  292866100  0000772891  US2928661006     1
582             1.0  EASI.  292866100  0000772891  US2928661006     1

         RIC RICc
395  CMCSA.O    1
396  CMCSA.O    1
397  CMCSA.O    1
581      NaN    0
582      NaN    0

,Identifier,Company,Data Deletion Date,Deletion Reason,Ticker,CUSIP,CIK,ISIN,ISINc,RIC,RICc
0,001004,AAR Corp,.,NaN,AIR,000361105,0000001750,US0003611052,0,AIR,0
1,001013,ADC Telecommunications Inc.,12/10/2010,1.0,ADCT,000886309,0000061478,US0008863096,1,NaN,0
2,001021,AFP Imaging Corp,09/15/2014,7.0,IWKS,001058205,0000319126,US0010582056,0,IWKS.PK,1
3,001034,Alpharma Inc.,12/31/2008,1.0,ALO.2,020813101,0000730469,US0208131013,1,NaN,0
4,001045,American Airlines Group Inc,.,NaN,AAL,02376R102,0000006201,US02376R1023,0,AAL.O - AAL.Z,3

In [55]:
print(len(healthy.Identifier))
print(len(set(healthy.Identifier.to_list())))

21140
20783