In [1]:
import eikon as ek  # the Eikon Python wrapper package
import numpy as np  # NumPy
import pandas as pd  # pandas
import cufflinks as cf  # Cufflinks
import configparser as cp

## Connecting to Eikon Data API

This code sets the app_id to connect to the Eikon Data API Proxy which needs to be running locally. It requires the previously created text file eikon.cfg to be in the current working directory.

In [2]:
cfg = cp.ConfigParser()
cfg.read('eikon.cfg')  # adjust for different file location

['eikon.cfg']

In [3]:
ek.set_app_key(cfg['eikon']['app_id']) #set_app_id function being deprecated

## Converting Symbols

In [52]:
# read data for bankrupt and healthy companies
# read the list of bankrupt companies
bankrupt = pd.read_csv('bankrupt.csv')
healthy = pd.read_csv('healthy.csv')

# get the tickers
bankrupt_ticker = bankrupt['Ticker'].tolist()
healthy_ticker = healthy['Ticker'].tolist()

# get CUSIP
bankrupt_cusip = bankrupt['CUSIP'].tolist()
healthy_cusip = healthy['CUSIP'].tolist()

print(len(set(bankrupt_ticker)))
print(len(set(bankrupt_cusip)))
print(len(set(healthy_ticker)))
print(len(set(healthy_cusip)))

112
112
20708
20766

### Bankrupt: Ticker to RIC

In [41]:
bankrupt_tic2ric = ek.get_symbology(bankrupt_ticker, from_symbol_type='ticker', to_symbol_type='RIC')
print(len(bankrupt_tic2ric))
bankrupt_tic2ric.to_csv('bankrupt_tic2ric.csv')
#bankrupt_tic2ric
len(set(bankrupt_tic2ric.RIC.to_list()))

112

58

### Bankrupt: Ticker to ISIN

In [44]:
bankrupt_tic2isn = ek.get_symbology(bankrupt_ticker, from_symbol_type='ticker', to_symbol_type='ISIN')
print(len(bankrupt_tic2isn))
bankrupt_tic2isn.to_csv('bankrupt_tic2isn.csv')
#bankrupt_tic2isn
len(set(bankrupt_tic2isn.ISIN.to_list()))

112

96

### Bankrupt: CUSIP to RIC

In [46]:
bankrupt_csp2ric = ek.get_symbology(bankrupt_cusip, from_symbol_type='CUSIP', to_symbol_type='RIC')
print(len(bankrupt_csp2ric))
bankrupt_csp2ric.to_csv('bankrupt_csp2ric.csv')
#bankrupt_csp2ric
len(set(bankrupt_csp2ric.RIC.to_list()))

112

7

### Bankrupt: CUSIP to ISIN

In [48]:
bankrupt_csp2isn = ek.get_symbology(bankrupt_cusip, from_symbol_type='CUSIP', to_symbol_type='ISIN')
print(len(bankrupt_tic2isn))
bankrupt_csp2isn.to_csv('bankrupt_csp2isn.csv')
#bankrupt_csp2isn
len(set(bankrupt_tic2isn.ISIN.to_list()))

112

96

### Preprocessing healthy lists for NANs and length

In [99]:
# get rid of NANs
healthy_ticker_NAN = [element for element in healthy_ticker if type(element) != float]
healthy_cusip_NAN = [element for element in healthy_cusip if type(element) != float]


# divide healthy tickers to 4000-ticker chunks
healthy_ticker_NAN1 = healthy_ticker_NAN[:4000]
healthy_ticker_NAN2 = healthy_ticker_NAN[4000:8000]
healthy_ticker_NAN3 = healthy_ticker_NAN[8000:12000]
healthy_ticker_NAN4 = healthy_ticker_NAN[12000:16000]
healthy_ticker_NAN5 = healthy_ticker_NAN[16000:20000]
healthy_ticker_NAN6 = healthy_ticker_NAN[20000:]

print(len(healthy_ticker_NAN1))
print(len(healthy_ticker_NAN2))
print(len(healthy_ticker_NAN3))
print(len(healthy_ticker_NAN4))
print(len(healthy_ticker_NAN5))
print(len(healthy_ticker_NAN6))

print('-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.')

# divide healthy CUSIP to 4000-CUSIP chunks
healthy_cusip_NAN1 = healthy_cusip_NAN[:4000]
healthy_cusip_NAN2 = healthy_cusip_NAN[4000:8000]
healthy_cusip_NAN3 = healthy_cusip_NAN[8000:12000]
healthy_cusip_NAN4 = healthy_cusip_NAN[12000:16000]
healthy_cusip_NAN5 = healthy_cusip_NAN[16000:20000]
healthy_cusip_NAN6 = healthy_cusip_NAN[20000:]

print(len(healthy_cusip_NAN1))
print(len(healthy_cusip_NAN2))
print(len(healthy_cusip_NAN3))
print(len(healthy_cusip_NAN4))
print(len(healthy_cusip_NAN5))
print(len(healthy_cusip_NAN6))

4000
4000
4000
4000
4000
761
-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
4000
4000
4000
4000
4000
765

### Healthy: Ticker to RIC

In [90]:
healthy_tic2ric1 = ek.get_symbology(healthy_ticker_NAN1, from_symbol_type='ticker', to_symbol_type='RIC')
print(len(healthy_tic2ric1))
healthy_tic2ric1.to_csv('healthy_tic2ric1.csv')
#healthy_tic2ric1
len(set(healthy_tic2ric1.RIC.to_list()))

4000

928

In [91]:
healthy_tic2ric2 = ek.get_symbology(healthy_ticker_NAN2, from_symbol_type='ticker', to_symbol_type='RIC')
print(len(healthy_tic2ric2))
healthy_tic2ric2.to_csv('healthy_tic2ric2.csv')
#healthy_tic2ric2
len(set(healthy_tic2ric2.RIC.to_list()))

3998

530

In [92]:
healthy_tic2ric3 = ek.get_symbology(healthy_ticker_NAN3, from_symbol_type='ticker', to_symbol_type='RIC')
print(len(healthy_tic2ric3))
healthy_tic2ric3.to_csv('healthy_tic2ric3.csv')
#healthy_tic2ric3
len(set(healthy_tic2ric3.RIC.to_list()))

3997

460

In [94]:
healthy_tic2ric4 = ek.get_symbology(healthy_ticker_NAN4, from_symbol_type='ticker', to_symbol_type='RIC')
print(len(healthy_tic2ric4))
healthy_tic2ric4.to_csv('healthy_tic2ric4.csv')
#healthy_tic2ric4
len(set(healthy_tic2ric4.RIC.to_list()))

4000

763

In [96]:
healthy_tic2ric5 = ek.get_symbology(healthy_ticker_NAN5, from_symbol_type='ticker', to_symbol_type='RIC')
print(len(healthy_tic2ric5))
healthy_tic2ric5.to_csv('healthy_tic2ric5.csv')
#healthy_tic2ric5
len(set(healthy_tic2ric5.RIC.to_list()))

3999

705

In [98]:
healthy_tic2ric6 = ek.get_symbology(healthy_ticker_NAN6, from_symbol_type='ticker', to_symbol_type='RIC')
print(len(healthy_tic2ric6))
healthy_tic2ric6.to_csv('healthy_tic2ric6.csv')
#healthy_tic2ric6
len(set(healthy_tic2ric6.RIC.to_list()))

761

123

### Healthy: Ticker to ISIN

In [101]:
healthy_tic2isn1 = ek.get_symbology(healthy_ticker_NAN1, from_symbol_type='ticker', to_symbol_type='ISIN')
print(len(healthy_tic2isn1))
healthy_tic2isn1.to_csv('healthy_tic2isn1.csv')
#healthy_tic2isn1
len(set(healthy_tic2isn1.ISIN.to_list()))

4000

2355

In [102]:
healthy_tic2isn2 = ek.get_symbology(healthy_ticker_NAN2, from_symbol_type='ticker', to_symbol_type='ISIN')
print(len(healthy_tic2isn2))
healthy_tic2isn2.to_csv('healthy_tic2isn2.csv')
#healthy_tic2isn2
len(set(healthy_tic2isn2.ISIN.to_list()))

3998

2136

In [103]:
healthy_tic2isn3 = ek.get_symbology(healthy_ticker_NAN3, from_symbol_type='ticker', to_symbol_type='ISIN')
print(len(healthy_tic2isn3))
healthy_tic2isn3.to_csv('healthy_tic2isn3.csv')
#healthy_tic2isn3
len(set(healthy_tic2isn3.ISIN.to_list()))

3997

2414

In [104]:
healthy_tic2isn4 = ek.get_symbology(healthy_ticker_NAN4, from_symbol_type='ticker', to_symbol_type='ISIN')
print(len(healthy_tic2isn4))
healthy_tic2isn4.to_csv('healthy_tic2isn4.csv')
#healthy_tic2isn4
len(set(healthy_tic2isn4.ISIN.to_list()))

4000

2338

In [105]:
healthy_tic2isn5 = ek.get_symbology(healthy_ticker_NAN5, from_symbol_type='ticker', to_symbol_type='ISIN')
print(len(healthy_tic2isn5))
healthy_tic2isn5.to_csv('healthy_tic2isn5.csv')
#healthy_tic2isn5
len(set(healthy_tic2isn5.ISIN.to_list()))

3999

2259

In [106]:
healthy_tic2isn6 = ek.get_symbology(healthy_ticker_NAN6, from_symbol_type='ticker', to_symbol_type='ISIN')
print(len(healthy_tic2isn6))
healthy_tic2isn6.to_csv('healthy_tic2isn6.csv')
#healthy_tic2isn6
len(set(healthy_tic2isn6.ISIN.to_list()))

761

418

### Healthy: CUSIP to RIC

In [107]:
healthy_csp2ric1 = ek.get_symbology(healthy_cusip_NAN1, from_symbol_type='CUSIP', to_symbol_type='RIC')
print(len(healthy_csp2ric1))
healthy_csp2ric1.to_csv('healthy_csp2ric1.csv')
#healthy_csp2ric1
len(set(healthy_csp2ric1.RIC.to_list()))

4000

2113

In [108]:
healthy_csp2ric2 = ek.get_symbology(healthy_cusip_NAN2, from_symbol_type='CUSIP', to_symbol_type='RIC')
print(len(healthy_csp2ric2))
healthy_csp2ric2.to_csv('healthy_csp2ric2.csv')
#healthy_csp2ric2
len(set(healthy_csp2ric2.RIC.to_list()))

4000

1662

In [109]:
healthy_csp2ric3 = ek.get_symbology(healthy_cusip_NAN3, from_symbol_type='CUSIP', to_symbol_type='RIC')
print(len(healthy_csp2ric3))
healthy_csp2ric3.to_csv('healthy_csp2ric3.csv')
#healthy_csp2ric3
len(set(healthy_csp2ric3.RIC.to_list()))

4000

1831

In [110]:
healthy_csp2ric4 = ek.get_symbology(healthy_cusip_NAN4, from_symbol_type='CUSIP', to_symbol_type='RIC')
print(len(healthy_csp2ric4))
healthy_csp2ric4.to_csv('healthy_csp2ric4.csv')
#healthy_csp2ric4
len(set(healthy_csp2ric4.RIC.to_list()))

4000

1499

In [111]:
healthy_csp2ric5 = ek.get_symbology(healthy_cusip_NAN5, from_symbol_type='CUSIP', to_symbol_type='RIC')
print(len(healthy_csp2ric5))
healthy_csp2ric5.to_csv('healthy_csp2ric5.csv')
#healthy_csp2ric5
len(set(healthy_csp2ric5.RIC.to_list()))

4000

1363

In [112]:
healthy_csp2ric6 = ek.get_symbology(healthy_cusip_NAN6, from_symbol_type='CUSIP', to_symbol_type='RIC')
print(len(healthy_csp2ric6))
healthy_csp2ric6.to_csv('healthy_csp2ric6.csv')
#healthy_csp2ric6
len(set(healthy_csp2ric6.RIC.to_list()))

765

362

### Healthy: CUSIP to ISIN

In [113]:
healthy_csp2isn1 = ek.get_symbology(healthy_cusip_NAN1, from_symbol_type='CUSIP', to_symbol_type='ISIN')
print(len(healthy_tic2isn1))
healthy_csp2isn1.to_csv('healthy_csp2isn1.csv')
#healthy_csp2isn1
len(set(healthy_tic2isn1.ISIN.to_list()))

4000

2355

In [114]:
healthy_csp2isn2 = ek.get_symbology(healthy_cusip_NAN2, from_symbol_type='CUSIP', to_symbol_type='ISIN')
print(len(healthy_tic2isn2))
healthy_csp2isn2.to_csv('healthy_csp2isn2.csv')
#healthy_csp2isn2
len(set(healthy_tic2isn2.ISIN.to_list()))

3998

2136

In [115]:
healthy_csp2isn3 = ek.get_symbology(healthy_cusip_NAN3, from_symbol_type='CUSIP', to_symbol_type='ISIN')
print(len(healthy_tic2isn3))
healthy_csp2isn3.to_csv('healthy_csp2isn3.csv')
#healthy_csp2isn3
len(set(healthy_tic2isn3.ISIN.to_list()))

3997

2414

In [116]:
healthy_csp2isn4 = ek.get_symbology(healthy_cusip_NAN4, from_symbol_type='CUSIP', to_symbol_type='ISIN')
print(len(healthy_tic2isn4))
healthy_csp2isn4.to_csv('healthy_csp2isn4.csv')
#healthy_csp2isn4
len(set(healthy_tic2isn4.ISIN.to_list()))

4000

2338

In [117]:
healthy_csp2isn5 = ek.get_symbology(healthy_cusip_NAN5, from_symbol_type='CUSIP', to_symbol_type='ISIN')
print(len(healthy_tic2isn5))
healthy_csp2isn5.to_csv('healthy_csp2isn5.csv')
#healthy_csp2isn5
len(set(healthy_tic2isn5.ISIN.to_list()))

3999

2259

In [118]:
healthy_csp2isn6 = ek.get_symbology(healthy_cusip_NAN6, from_symbol_type='CUSIP', to_symbol_type='ISIN')
print(len(healthy_tic2isn6))
healthy_csp2isn6.to_csv('healthy_csp2isn6.csv')
#healthy_csp2isn6
len(set(healthy_tic2isn6.ISIN.to_list()))

761

418

****

## Retrieving Historical Data

As a test, consider the retrieval of historical end-of-day data for the Apple, Inc. stock.

In [28]:
testAAPLdata = ek.get_timeseries('AAPL.O',  # the RIC for Apple, Inc.
                         fields='*',  # all fields
                         start_date='2000-01-01',  # start date
                         end_date='2019-08-19')  # end date

In [24]:
testAAPLdata.tail()  # final five rows

AAPL.O          HIGH   CLOSE       LOW    OPEN     COUNT      VOLUME
Date
2019-08-12  202.0516  200.48  199.1500  199.62  181412.0  22481889.0
2019-08-13  212.1400  208.97  200.8300  201.02  377969.0  47539786.0
2019-08-14  206.4400  202.75  202.5869  203.16  292722.0  36547443.0
2019-08-15  205.1400  201.74  199.6700  203.46  246488.0  27883363.0
2019-08-16  207.1600  206.50  203.8400  204.28  221213.0  28813624.0

In [29]:
testAAPLdata.head()

AAPL.O           HIGH      CLOSE        LOW       OPEN  COUNT        VOLUME
Date
2007-09-18  20.407122  20.131408  19.689980  19.865694   -1.0  2.660223e+08
2007-09-19  20.451408  20.109966  19.914266  20.431408   -1.0  2.567201e+08
2007-09-20  20.255694  20.044266  19.902837  20.021409   -1.0  1.729599e+08
2007-09-21  20.664265  20.592837  20.044266  20.162837   -1.0  2.847198e+08
2007-09-24  21.407121  21.182836  20.949979  20.961408   -1.0  2.630403e+08

In [30]:
testAAPLdata.to_csv('testDataAPPL.csv')

## Test get_data Function

In [44]:
data_grid, err = ek.get_data(['IBM', 'GOOG.O', 'MSFT.O'],
                             ['TR.TotalReturnYTD', 'TR.WACCBeta', 'YRHIGH', 'YRLOW'])

In [45]:
data_grid

  Instrument  YTD Total Return      Beta    YRHIGH   YRLOW
0        IBM         21.879417  1.279859   154.360  105.94
1     GOOG.O         13.710760  0.996100  1289.270  970.11
2     MSFT.O         35.556317  1.217389   141.675   93.96